Importing Pandas into Python and Reading Data (CSV)

In [1]:
import pandas as pd
# I will use 'df' to reference the dataset
df = pd.read_csv('pokemon_data.csv')

<font size="6">Reading the Data</font>

<font size="5">Headers</font>

In [2]:
df.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

<font size="5">Printing out the first couple of rows</font>

In [3]:
df.head

<bound method NDFrame.head of        #                   Name   Type 1  Type 2  HP  Attack  Defense  \
0      1              Bulbasaur    Grass  Poison  45      49       49
1      2                Ivysaur    Grass  Poison  60      62       63
2      3               Venusaur    Grass  Poison  80      82       83
3      3  VenusaurMega Venusaur    Grass  Poison  80     100      123
4      4             Charmander     Fire     NaN  39      52       43
..   ...                    ...      ...     ...  ..     ...      ...
795  719                Diancie     Rock   Fairy  50     100      150
796  719    DiancieMega Diancie     Rock   Fairy  50     160      110
797  720    HoopaHoopa Confined  Psychic   Ghost  80     110       60
798  720     HoopaHoopa Unbound  Psychic    Dark  80     160       60
799  721              Volcanion     Fire   Water  80     110      120

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
0         65       65     45           1      False
1         80       80     60           1      False
2        100      100     80           1      False
3        122      120     80           1      False
4         60       50     65           1      False
..       ...      ...    ...         ...        ...
795      100      150     50           6       True
796      160      110    110           6       True
797      150      130     70           6       True
798      170      130     80           6       True
799      130       90     70           6       True

[800 rows x 12 columns]>

In [4]:
## You can also pick the amount of rows
df.head(10)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,44,48,65,50,64,43,1,False

<font size="5">Read specific columns</font>

In [5]:
df['Name']

0                  Bulbasaur
1                    Ivysaur
2                   Venusaur
3      VenusaurMega Venusaur
4                 Charmander
               ...
795                  Diancie
796      DiancieMega Diancie
797      HoopaHoopa Confined
798       HoopaHoopa Unbound
799                Volcanion
Name: Name, Length: 800, dtype: object

In [6]:
## If you want to get a specific indexes, you can add [?:?]
df['Name'][0:10]

0                    Bulbasaur
1                      Ivysaur
2                     Venusaur
3        VenusaurMega Venusaur
4                   Charmander
5                   Charmeleon
6                    Charizard
7    CharizardMega Charizard X
8    CharizardMega Charizard Y
9                     Squirtle
Name: Name, dtype: object

<font size="5">If you want to get more than one column, you can use double brackets</font>

In [7]:
## The double brackets before and after allow you to pcik as many columns as you want in any order
df[['Name', 'Type 1', 'Generation']]

                      Name   Type 1  Generation
0                Bulbasaur    Grass           1
1                  Ivysaur    Grass           1
2                 Venusaur    Grass           1
3    VenusaurMega Venusaur    Grass           1
4               Charmander     Fire           1
..                     ...      ...         ...
795                Diancie     Rock           6
796    DiancieMega Diancie     Rock           6
797    HoopaHoopa Confined  Psychic           6
798     HoopaHoopa Unbound  Psychic           6
799              Volcanion     Fire           6

[800 rows x 3 columns]

In [8]:
## Same as above, just a different order
df[['Name', 'Generation', 'Type 1']]

                      Name  Generation   Type 1
0                Bulbasaur           1    Grass
1                  Ivysaur           1    Grass
2                 Venusaur           1    Grass
3    VenusaurMega Venusaur           1    Grass
4               Charmander           1     Fire
..                     ...         ...      ...
795                Diancie           6     Rock
796    DiancieMega Diancie           6     Rock
797    HoopaHoopa Confined           6  Psychic
798     HoopaHoopa Unbound           6  Psychic
799              Volcanion           6     Fire

[800 rows x 3 columns]

<font size="5">You can still grab specific indexes even if you add extra columns</font>

In [9]:
df[['Name', 'Type 1', 'Generation']][5:13]

                         Name Type 1  Generation
5                  Charmeleon   Fire           1
6                   Charizard   Fire           1
7   CharizardMega Charizard X   Fire           1
8   CharizardMega Charizard Y   Fire           1
9                    Squirtle  Water           1
10                  Wartortle  Water           1
11                  Blastoise  Water           1
12    BlastoiseMega Blastoise  Water           1

<font size="5">Read each row</font>

In [10]:
df.iloc[3]

#                                 3
Name          VenusaurMega Venusaur
Type 1                        Grass
Type 2                       Poison
HP                               80
Attack                          100
Defense                         123
Sp. Atk                         122
Sp. Def                         120
Speed                            80
Generation                        1
Legendary                     False
Name: 3, dtype: object

In [11]:
## You can pick more than one row to read as well
df.iloc[3:5]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [12]:
## The below code lets you iterrate through rows using a for loop. Apparently it is very useful.
for index, row in df.iterrows():
    print(index, row['Name'])

0 Bulbasaur
1 Ivysaur
2 Venusaur
3 VenusaurMega Venusaur
4 Charmander
5 Charmeleon
6 Charizard
7 CharizardMega Charizard X
8 CharizardMega Charizard Y
9 Squirtle
10 Wartortle
11 Blastoise
12 BlastoiseMega Blastoise
13 Caterpie
14 Metapod
15 Butterfree
16 Weedle
17 Kakuna
18 Beedrill
19 BeedrillMega Beedrill
20 Pidgey
21 Pidgeotto
22 Pidgeot
23 PidgeotMega Pidgeot
24 Rattata
25 Raticate
26 Spearow
27 Fearow
28 Ekans
29 Arbok
30 Pikachu
31 Raichu
32 Sandshrew
33 Sandslash
34 Nidoran (Female)
35 Nidorina
36 Nidoqueen
37 Nidoran (Male)
38 Nidorino
39 Nidoking
40 Clefairy
41 Clefable
42 Vulpix
43 Ninetales
44 Jigglypuff
45 Wigglytuff
46 Zubat
47 Golbat
48 Oddish
49 Gloom
50 Vileplume
51 Paras
52 Parasect
53 Venonat
54 Venomoth
55 Diglett
56 Dugtrio
57 Meowth
58 Persian
59 Psyduck
60 Golduck
61 Mankey
62 Primeape
63 Growlithe
64 Arcanine
65 Poliwag
66 Poliwhirl
67 Poliwrath
68 Abra
69 Kadabra
70 Alakazam
71 AlakazamMega Alakazam
72 Machop
73 Machoke
74 Machamp
75 Bellsprout
76 Weepinbell
77 Victreebel
78 Tentacool
79 Tentacruel
80 Geodude
81 Graveler
82 Golem
83 Ponyta
84 Rapidash
85 Slowpoke
86 Slowbro
87 SlowbroMega Slowbro
88 Magnemite
89 Magneton
90 Farfetch'd
91 Doduo
92 Dodrio
93 Seel
94 Dewgong
95 Grimer
96 Muk
97 Shellder
98 Cloyster
99 Gastly
100 Haunter
101 Gengar
102 GengarMega Gengar
103 Onix
104 Drowzee
105 Hypno
106 Krabby
107 Kingler
108 Voltorb
109 Electrode
110 Exeggcute
111 Exeggutor
112 Cubone
113 Marowak
114 Hitmonlee
115 Hitmonchan
116 Lickitung
117 Koffing
118 Weezing
119 Rhyhorn
120 Rhydon
121 Chansey
122 Tangela
123 Kangaskhan
124 KangaskhanMega Kangaskhan
125 Horsea
126 Seadra
127 Goldeen
128 Seaking
129 Staryu
130 Starmie
131 Mr. Mime
132 Scyther
133 Jynx
134 Electabuzz
135 Magmar
136 Pinsir
137 PinsirMega Pinsir
138 Tauros
139 Magikarp
140 Gyarados
141 GyaradosMega Gyarados
142 Lapras
143 Ditto
144 Eevee
145 Vaporeon
146 Jolteon
147 Flareon
148 Porygon
149 Omanyte
150 Omastar
151 Kabuto
152 Kabutops
153 Aerodactyl
154 AerodactylMega Aerodactyl
155 Snorlax
156 Articuno
157 Zapdos
158 Moltres
159 Dratini
160 Dragonair
161 Dragonite
162 Mewtwo
163 MewtwoMega Mewtwo X
164 MewtwoMega Mewtwo Y
165 Mew
166 Chikorita
167 Bayleef
168 Meganium
169 Cyndaquil
170 Quilava
171 Typhlosion
172 Totodile
173 Croconaw
174 Feraligatr
175 Sentret
176 Furret
177 Hoothoot
178 Noctowl
179 Ledyba
180 Ledian
181 Spinarak
182 Ariados
183 Crobat
184 Chinchou
185 Lanturn
186 Pichu
187 Cleffa
188 Igglybuff
189 Togepi
190 Togetic
191 Natu
192 Xatu
193 Mareep
194 Flaaffy
195 Ampharos
196 AmpharosMega Ampharos
197 Bellossom
198 Marill
199 Azumarill
200 Sudowoodo
201 Politoed
202 Hoppip
203 Skiploom
204 Jumpluff
205 Aipom
206 Sunkern
207 Sunflora
208 Yanma
209 Wooper
210 Quagsire
211 Espeon
212 Umbreon
213 Murkrow
214 Slowking
215 Misdreavus
216 Unown
217 Wobbuffet
218 Girafarig
219 Pineco
220 Forretress
221 Dunsparce
222 Gligar
223 Steelix
224 SteelixMega Steelix
225 Snubbull
226 Granbull
227 Qwilfish
228 Scizor
229 ScizorMega Scizor
230 Shuckle
231 Heracross
232 HeracrossMega Heracross
233 Sneasel
234 Teddiursa
235 Ursaring
236 Slugma
237 Magcargo
238 Swinub
239 Piloswine
240 Corsola
241 Remoraid
242 Octillery
243 Delibird
244 Mantine
245 Skarmory
246 Houndour
247 Houndoom
248 HoundoomMega Houndoom
249 Kingdra
250 Phanpy
251 Donphan
252 Porygon2
253 Stantler
254 Smeargle
255 Tyrogue
256 Hitmontop
257 Smoochum
258 Elekid
259 Magby
260 Miltank
261 Blissey
262 Raikou
263 Entei
264 Suicune
265 Larvitar
266 Pupitar
267 Tyranitar
268 TyranitarMega Tyranitar
269 Lugia
270 Ho-oh
271 Celebi
272 Treecko
273 Grovyle
274 Sceptile
275 SceptileMega Sceptile
276 Torchic
277 Combusken
278 Blaziken
279 BlazikenMega Blaziken
280 Mudkip
281 Marshtomp
282 Swampert
283 SwampertMega Swampert
284 Poochyena
285 Mightyena
286 Zigzagoon
287 Linoone
288 Wurmple
289 Silcoon
290 Beautifly
291 Cascoon
292 Dustox
293 Lotad
294 Lombre
295 Ludicolo
296 Seedot
297 Nuzleaf
298 Shiftry
299 Taillow
300 Swellow
301 Wingull
302 Pelipper
303 Ralts
304 Kirlia
305 Gardevoir
306 GardevoirMega Gardevoir
307 Surskit
308 Masquerain
309 Shroomish
310 Breloom
311 Slakoth
312 Vigoroth
313 Slaking
314 Nincada
315 Ninjask
316 Shedinja
317 Whismur
318 Loudred
319 Exploud
320 Makuhita
321 Hariyama
322 Azurill
323 Nosepass
324 Skitty
325 Delcatty
326 Sableye
327 SableyeMega Sableye
328 Mawile
329 MawileMega Mawile
330 Aron
331 Lairon
332 Aggron
333 AggronMega Aggron
334 Meditite
335 Medicham
336 MedichamMega Medicham
337 Electrike
338 Manectric
339 ManectricMega Manectric
340 Plusle
341 Minun
342 Volbeat
343 Illumise
344 Roselia
345 Gulpin
346 Swalot
347 Carvanha
348 Sharpedo
349 SharpedoMega Sharpedo
350 Wailmer
351 Wailord
352 Numel
353 Camerupt
354 CameruptMega Camerupt
355 Torkoal
356 Spoink
357 Grumpig
358 Spinda
359 Trapinch
360 Vibrava
361 Flygon
362 Cacnea
363 Cacturne
364 Swablu
365 Altaria
366 AltariaMega Altaria
367 Zangoose
368 Seviper
369 Lunatone
370 Solrock
371 Barboach
372 Whiscash
373 Corphish
374 Crawdaunt
375 Baltoy
376 Claydol
377 Lileep
378 Cradily
379 Anorith
380 Armaldo
381 Feebas
382 Milotic
383 Castform
384 Kecleon
385 Shuppet
386 Banette
387 BanetteMega Banette
388 Duskull
389 Dusclops
390 Tropius
391 Chimecho
392 Absol
393 AbsolMega Absol
394 Wynaut
395 Snorunt
396 Glalie
397 GlalieMega Glalie
398 Spheal
399 Sealeo
400 Walrein
401 Clamperl
402 Huntail
403 Gorebyss
404 Relicanth
405 Luvdisc
406 Bagon
407 Shelgon
408 Salamence
409 SalamenceMega Salamence
410 Beldum
411 Metang
412 Metagross
413 MetagrossMega Metagross
414 Regirock
415 Regice
416 Registeel
417 Latias
418 LatiasMega Latias
419 Latios
420 LatiosMega Latios
421 Kyogre
422 KyogrePrimal Kyogre
423 Groudon
424 GroudonPrimal Groudon
425 Rayquaza
426 RayquazaMega Rayquaza
427 Jirachi
428 DeoxysNormal Forme
429 DeoxysAttack Forme
430 DeoxysDefense Forme
431 DeoxysSpeed Forme
432 Turtwig
433 Grotle
434 Torterra
435 Chimchar
436 Monferno
437 Infernape
438 Piplup
439 Prinplup
440 Empoleon
441 Starly
442 Staravia
443 Staraptor
444 Bidoof
445 Bibarel
446 Kricketot
447 Kricketune
448 Shinx
449 Luxio
450 Luxray
451 Budew
452 Roserade
453 Cranidos
454 Rampardos
455 Shieldon
456 Bastiodon
457 Burmy
458 WormadamPlant Cloak
459 WormadamSandy Cloak
460 WormadamTrash Cloak
461 Mothim
462 Combee
463 Vespiquen
464 Pachirisu
465 Buizel
466 Floatzel
467 Cherubi
468 Cherrim
469 Shellos
470 Gastrodon
471 Ambipom
472 Drifloon
473 Drifblim
474 Buneary
475 Lopunny
476 LopunnyMega Lopunny
477 Mismagius
478 Honchkrow
479 Glameow
480 Purugly
481 Chingling
482 Stunky
483 Skuntank
484 Bronzor
485 Bronzong
486 Bonsly
487 Mime Jr.
488 Happiny
489 Chatot
490 Spiritomb
491 Gible
492 Gabite
493 Garchomp
494 GarchompMega Garchomp
495 Munchlax
496 Riolu
497 Lucario
498 LucarioMega Lucario
499 Hippopotas
500 Hippowdon
501 Skorupi
502 Drapion
503 Croagunk
504 Toxicroak
505 Carnivine
506 Finneon
507 Lumineon
508 Mantyke
509 Snover
510 Abomasnow
511 AbomasnowMega Abomasnow
512 Weavile
513 Magnezone
514 Lickilicky
515 Rhyperior
516 Tangrowth
517 Electivire
518 Magmortar
519 Togekiss
520 Yanmega
521 Leafeon
522 Glaceon
523 Gliscor
524 Mamoswine
525 Porygon-Z
526 Gallade
527 GalladeMega Gallade
528 Probopass
529 Dusknoir
530 Froslass
531 Rotom
532 RotomHeat Rotom
533 RotomWash Rotom
534 RotomFrost Rotom
535 RotomFan Rotom
536 RotomMow Rotom
537 Uxie
538 Mesprit
539 Azelf
540 Dialga
541 Palkia
542 Heatran
543 Regigigas
544 GiratinaAltered Forme
545 GiratinaOrigin Forme
546 Cresselia
547 Phione
548 Manaphy
549 Darkrai
550 ShayminLand Forme
551 ShayminSky Forme
552 Arceus
553 Victini
554 Snivy
555 Servine
556 Serperior
557 Tepig
558 Pignite
559 Emboar
560 Oshawott
561 Dewott
562 Samurott
563 Patrat
564 Watchog
565 Lillipup
566 Herdier
567 Stoutland
568 Purrloin
569 Liepard
570 Pansage
571 Simisage
572 Pansear
573 Simisear
574 Panpour
575 Simipour
576 Munna
577 Musharna
578 Pidove
579 Tranquill
580 Unfezant
581 Blitzle
582 Zebstrika
583 Roggenrola
584 Boldore
585 Gigalith
586 Woobat
587 Swoobat
588 Drilbur
589 Excadrill
590 Audino
591 AudinoMega Audino
592 Timburr
593 Gurdurr
594 Conkeldurr
595 Tympole
596 Palpitoad
597 Seismitoad
598 Throh
599 Sawk
600 Sewaddle
601 Swadloon
602 Leavanny
603 Venipede
604 Whirlipede
605 Scolipede
606 Cottonee
607 Whimsicott
608 Petilil
609 Lilligant
610 Basculin
611 Sandile
612 Krokorok
613 Krookodile
614 Darumaka
615 DarmanitanStandard Mode
616 DarmanitanZen Mode
617 Maractus
618 Dwebble
619 Crustle
620 Scraggy
621 Scrafty
622 Sigilyph
623 Yamask
624 Cofagrigus
625 Tirtouga
626 Carracosta
627 Archen
628 Archeops
629 Trubbish
630 Garbodor
631 Zorua
632 Zoroark
633 Minccino
634 Cinccino
635 Gothita
636 Gothorita
637 Gothitelle
638 Solosis
639 Duosion
640 Reuniclus
641 Ducklett
642 Swanna
643 Vanillite
644 Vanillish
645 Vanilluxe
646 Deerling
647 Sawsbuck
648 Emolga
649 Karrablast
650 Escavalier
651 Foongus
652 Amoonguss
653 Frillish
654 Jellicent
655 Alomomola
656 Joltik
657 Galvantula
658 Ferroseed
659 Ferrothorn
660 Klink
661 Klang
662 Klinklang
663 Tynamo
664 Eelektrik
665 Eelektross
666 Elgyem
667 Beheeyem
668 Litwick
669 Lampent
670 Chandelure
671 Axew
672 Fraxure
673 Haxorus
674 Cubchoo
675 Beartic
676 Cryogonal
677 Shelmet
678 Accelgor
679 Stunfisk
680 Mienfoo
681 Mienshao
682 Druddigon
683 Golett
684 Golurk
685 Pawniard
686 Bisharp
687 Bouffalant
688 Rufflet
689 Braviary
690 Vullaby
691 Mandibuzz
692 Heatmor
693 Durant
694 Deino
695 Zweilous
696 Hydreigon
697 Larvesta
698 Volcarona
699 Cobalion
700 Terrakion
701 Virizion
702 TornadusIncarnate Forme
703 TornadusTherian Forme
704 ThundurusIncarnate Forme
705 ThundurusTherian Forme
706 Reshiram
707 Zekrom
708 LandorusIncarnate Forme
709 LandorusTherian Forme
710 Kyurem
711 KyuremBlack Kyurem
712 KyuremWhite Kyurem
713 KeldeoOrdinary Forme
714 KeldeoResolute Forme
715 MeloettaAria Forme
716 MeloettaPirouette Forme
717 Genesect
718 Chespin
719 Quilladin
720 Chesnaught
721 Fennekin
722 Braixen
723 Delphox
724 Froakie
725 Frogadier
726 Greninja
727 Bunnelby
728 Diggersby
729 Fletchling
730 Fletchinder
731 Talonflame
732 Scatterbug
733 Spewpa
734 Vivillon
735 Litleo
736 Pyroar
737 Flabébé
738 Floette
739 Florges
740 Skiddo
741 Gogoat
742 Pancham
743 Pangoro
744 Furfrou
745 Espurr
746 MeowsticMale
747 MeowsticFemale
748 Honedge
749 Doublade
750 AegislashBlade Forme
751 AegislashShield Forme
752 Spritzee
753 Aromatisse
754 Swirlix
755 Slurpuff
756 Inkay
757 Malamar
758 Binacle
759 Barbaracle
760 Skrelp
761 Dragalge
762 Clauncher
763 Clawitzer
764 Helioptile
765 Heliolisk
766 Tyrunt
767 Tyrantrum
768 Amaura
769 Aurorus
770 Sylveon
771 Hawlucha
772 Dedenne
773 Carbink
774 Goomy
775 Sliggoo
776 Goodra
777 Klefki
778 Phantump
779 Trevenant
780 PumpkabooAverage Size
781 PumpkabooSmall Size
782 PumpkabooLarge Size
783 PumpkabooSuper Size
784 GourgeistAverage Size
785 GourgeistSmall Size
786 GourgeistLarge Size
787 GourgeistSuper Size
788 Bergmite
789 Avalugg
790 Noibat
791 Noivern
792 Xerneas
793 Yveltal
794 Zygarde50% Forme
795 Diancie
796 DiancieMega Diancie
797 HoopaHoopa Confined
798 HoopaHoopa Unbound
799 Volcanion

In [13]:
## This works the same as above but it does not look very good (and doesn't seem useful really)
for index, row in df.iterrows():
    print(index, row[['Name', 'Generation']])

0 Name          Bulbasaur
Generation            1
Name: 0, dtype: object
1 Name          Ivysaur
Generation          1
Name: 1, dtype: object
2 Name          Venusaur
Generation           1
Name: 2, dtype: object
3 Name          VenusaurMega Venusaur
Generation                        1
Name: 3, dtype: object
4 Name          Charmander
Generation             1
Name: 4, dtype: object
5 Name          Charmeleon
Generation             1
Name: 5, dtype: object
6 Name          Charizard
Generation            1
Name: 6, dtype: object
7 Name          CharizardMega Charizard X
Generation                            1
Name: 7, dtype: object
8 Name          CharizardMega Charizard Y
Generation                            1
Name: 8, dtype: object
9 Name          Squirtle
Generation           1
Name: 9, dtype: object
10 Name          Wartortle
Generation            1
Name: 10, dtype: object
11 Name          Blastoise
Generation            1
Name: 11, dtype: object
12 Name          BlastoiseMega Blastoise
Generation                          1
Name: 12, dtype: object
13 Name          Caterpie
Generation           1
Name: 13, dtype: object
14 Name          Metapod
Generation          1
Name: 14, dtype: object
15 Name          Butterfree
Generation             1
Name: 15, dtype: object
16 Name          Weedle
Generation         1
Name: 16, dtype: object
17 Name          Kakuna
Generation         1
Name: 17, dtype: object
18 Name          Beedrill
Generation           1
Name: 18, dtype: object
19 Name          BeedrillMega Beedrill
Generation                        1
Name: 19, dtype: object
20 Name          Pidgey
Generation         1
Name: 20, dtype: object
21 Name          Pidgeotto
Generation            1
Name: 21, dtype: object
22 Name          Pidgeot
Generation          1
Name: 22, dtype: object
23 Name          PidgeotMega Pidgeot
Generation                      1
Name: 23, dtype: object
24 Name          Rattata
Generation          1
Name: 24, dtype: object
25 Name          Raticate
Generation           1
Name: 25, dtype: object
26 Name          Spearow
Generation          1
Name: 26, dtype: object
27 Name          Fearow
Generation         1
Name: 27, dtype: object
28 Name          Ekans
Generation        1
Name: 28, dtype: object
29 Name          Arbok
Generation        1
Name: 29, dtype: object
30 Name          Pikachu
Generation          1
Name: 30, dtype: object
31 Name          Raichu
Generation         1
Name: 31, dtype: object
32 Name          Sandshrew
Generation            1
Name: 32, dtype: object
33 Name          Sandslash
Generation            1
Name: 33, dtype: object
34 Name          Nidoran (Female)
Generation                   1
Name: 34, dtype: object
35 Name          Nidorina
Generation           1
Name: 35, dtype: object
36 Name          Nidoqueen
Generation            1
Name: 36, dtype: object
37 Name          Nidoran (Male)
Generation                 1
Name: 37, dtype: object
38 Name          Nidorino
Generation           1
Name: 38, dtype: object
39 Name          Nidoking
Generation           1
Name: 39, dtype: object
40 Name          Clefairy
Generation           1
Name: 40, dtype: object
41 Name          Clefable
Generation           1
Name: 41, dtype: object
42 Name          Vulpix
Generation         1
Name: 42, dtype: object
43 Name          Ninetales
Generation            1
Name: 43, dtype: object
44 Name          Jigglypuff
Generation             1
Name: 44, dtype: object
45 Name          Wigglytuff
Generation             1
Name: 45, dtype: object
46 Name          Zubat
Generation        1
Name: 46, dtype: object
47 Name          Golbat
Generation         1
Name: 47, dtype: object
48 Name          Oddish
Generation         1
Name: 48, dtype: object
49 Name          Gloom
Generation        1
Name: 49, dtype: object
50 Name          Vileplume
Generation            1
Name: 50, dtype: object
51 Name          Paras
Generation        1
Name: 51, dtype: object
52 Name          Parasect
Generation           1
Name: 52, dtype: object
53 Name          Venonat
Generation          1
Name: 53, dtype: object
54 Name          Venomoth
Generation           1
Name: 54, dtype: object
55 Name          Diglett
Generation          1
Name: 55, dtype: object
56 Name          Dugtrio
Generation          1
Name: 56, dtype: object
57 Name          Meowth
Generation         1
Name: 57, dtype: object
58 Name          Persian
Generation          1
Name: 58, dtype: object
59 Name          Psyduck
Generation          1
Name: 59, dtype: object
60 Name          Golduck
Generation          1
Name: 60, dtype: object
61 Name          Mankey
Generation         1
Name: 61, dtype: object
62 Name          Primeape
Generation           1
Name: 62, dtype: object
63 Name          Growlithe
Generation            1
Name: 63, dtype: object
64 Name          Arcanine
Generation           1
Name: 64, dtype: object
65 Name          Poliwag
Generation          1
Name: 65, dtype: object
66 Name          Poliwhirl
Generation            1
Name: 66, dtype: object
67 Name          Poliwrath
Generation            1
Name: 67, dtype: object
68 Name          Abra
Generation       1
Name: 68, dtype: object
69 Name          Kadabra
Generation          1
Name: 69, dtype: object
70 Name          Alakazam
Generation           1
Name: 70, dtype: object
71 Name          AlakazamMega Alakazam
Generation                        1
Name: 71, dtype: object
72 Name          Machop
Generation         1
Name: 72, dtype: object
73 Name          Machoke
Generation          1
Name: 73, dtype: object
74 Name          Machamp
Generation          1
Name: 74, dtype: object
75 Name          Bellsprout
Generation             1
Name: 75, dtype: object
76 Name          Weepinbell
Generation             1
Name: 76, dtype: object
77 Name          Victreebel
Generation             1
Name: 77, dtype: object
78 Name          Tentacool
Generation            1
Name: 78, dtype: object
79 Name          Tentacruel
Generation             1
Name: 79, dtype: object
80 Name          Geodude
Generation          1
Name: 80, dtype: object
81 Name          Graveler
Generation           1
Name: 81, dtype: object
82 Name          Golem
Generation        1
Name: 82, dtype: object
83 Name          Ponyta
Generation         1
Name: 83, dtype: object
84 Name          Rapidash
Generation           1
Name: 84, dtype: object
85 Name          Slowpoke
Generation           1
Name: 85, dtype: object
86 Name          Slowbro
Generation          1
Name: 86, dtype: object
87 Name          SlowbroMega Slowbro
Generation                      1
Name: 87, dtype: object
88 Name          Magnemite
Generation            1
Name: 88, dtype: object
89 Name          Magneton
Generation           1
Name: 89, dtype: object
90 Name          Farfetch'd
Generation             1
Name: 90, dtype: object
91 Name          Doduo
Generation        1
Name: 91, dtype: object
92 Name          Dodrio
Generation         1
Name: 92, dtype: object
93 Name          Seel
Generation       1
Name: 93, dtype: object
94 Name          Dewgong
Generation          1
Name: 94, dtype: object
95 Name          Grimer
Generation         1
Name: 95, dtype: object
96 Name          Muk
Generation      1
Name: 96, dtype: object
97 Name          Shellder
Generation           1
Name: 97, dtype: object
98 Name          Cloyster
Generation           1
Name: 98, dtype: object
99 Name          Gastly
Generation         1
Name: 99, dtype: object
100 Name          Haunter
Generation          1
Name: 100, dtype: object
101 Name          Gengar
Generation         1
Name: 101, dtype: object
102 Name          GengarMega Gengar
Generation                    1
Name: 102, dtype: object
103 Name          Onix
Generation       1
Name: 103, dtype: object
104 Name          Drowzee
Generation          1
Name: 104, dtype: object
105 Name          Hypno
Generation        1
Name: 105, dtype: object
106 Name          Krabby
Generation         1
Name: 106, dtype: object
107 Name          Kingler
Generation          1
Name: 107, dtype: object
108 Name          Voltorb
Generation          1
Name: 108, dtype: object
109 Name          Electrode
Generation            1
Name: 109, dtype: object
110 Name          Exeggcute
Generation            1
Name: 110, dtype: object
111 Name          Exeggutor
Generation            1
Name: 111, dtype: object
112 Name          Cubone
Generation         1
Name: 112, dtype: object
113 Name          Marowak
Generation          1
Name: 113, dtype: object
114 Name          Hitmonlee
Generation            1
Name: 114, dtype: object
115 Name          Hitmonchan
Generation             1
Name: 115, dtype: object
116 Name          Lickitung
Generation            1
Name: 116, dtype: object
117 Name          Koffing
Generation          1
Name: 117, dtype: object
118 Name          Weezing
Generation          1
Name: 118, dtype: object
119 Name          Rhyhorn
Generation          1
Name: 119, dtype: object
120 Name          Rhydon
Generation         1
Name: 120, dtype: object
121 Name          Chansey
Generation          1
Name: 121, dtype: object
122 Name          Tangela
Generation          1
Name: 122, dtype: object
123 Name          Kangaskhan
Generation             1
Name: 123, dtype: object
124 Name          KangaskhanMega Kangaskhan
Generation                            1
Name: 124, dtype: object
125 Name          Horsea
Generation         1
Name: 125, dtype: object
126 Name          Seadra
Generation         1
Name: 126, dtype: object
127 Name          Goldeen
Generation          1
Name: 127, dtype: object
128 Name          Seaking
Generation          1
Name: 128, dtype: object
129 Name          Staryu
Generation         1
Name: 129, dtype: object
130 Name          Starmie
Generation          1
Name: 130, dtype: object
131 Name          Mr. Mime
Generation           1
Name: 131, dtype: object
132 Name          Scyther
Generation          1
Name: 132, dtype: object
133 Name          Jynx
Generation       1
Name: 133, dtype: object
134 Name          Electabuzz
Generation             1
Name: 134, dtype: object
135 Name          Magmar
Generation         1
Name: 135, dtype: object
136 Name          Pinsir
Generation         1
Name: 136, dtype: object
137 Name          PinsirMega Pinsir
Generation                    1
Name: 137, dtype: object
138 Name          Tauros
Generation         1
Name: 138, dtype: object
139 Name          Magikarp
Generation           1
Name: 139, dtype: object
140 Name          Gyarados
Generation           1
Name: 140, dtype: object
141 Name          GyaradosMega Gyarados
Generation                        1
Name: 141, dtype: object
142 Name          Lapras
Generation         1
Name: 142, dtype: object
143 Name          Ditto
Generation        1
Name: 143, dtype: object
144 Name          Eevee
Generation        1
Name: 144, dtype: object
145 Name          Vaporeon
Generation           1
Name: 145, dtype: object
146 Name          Jolteon
Generation          1
Name: 146, dtype: object
147 Name          Flareon
Generation          1
Name: 147, dtype: object
148 Name          Porygon
Generation          1
Name: 148, dtype: object
149 Name          Omanyte
Generation          1
Name: 149, dtype: object
150 Name          Omastar
Generation          1
Name: 150, dtype: object
151 Name          Kabuto
Generation         1
Name: 151, dtype: object
152 Name          Kabutops
Generation           1
Name: 152, dtype: object
153 Name          Aerodactyl
Generation             1
Name: 153, dtype: object
154 Name          AerodactylMega Aerodactyl
Generation                            1
Name: 154, dtype: object
155 Name          Snorlax
Generation          1
Name: 155, dtype: object
156 Name          Articuno
Generation           1
Name: 156, dtype: object
157 Name          Zapdos
Generation         1
Name: 157, dtype: object
158 Name          Moltres
Generation          1
Name: 158, dtype: object
159 Name          Dratini
Generation          1
Name: 159, dtype: object
160 Name          Dragonair
Generation            1
Name: 160, dtype: object
161 Name          Dragonite
Generation            1
Name: 161, dtype: object
162 Name          Mewtwo
Generation         1
Name: 162, dtype: object
163 Name          MewtwoMega Mewtwo X
Generation                      1
Name: 163, dtype: object
164 Name          MewtwoMega Mewtwo Y
Generation                      1
Name: 164, dtype: object
165 Name          Mew
Generation      1
Name: 165, dtype: object
166 Name          Chikorita
Generation            2
Name: 166, dtype: object
167 Name          Bayleef
Generation          2
Name: 167, dtype: object
168 Name          Meganium
Generation           2
Name: 168, dtype: object
169 Name          Cyndaquil
Generation            2
Name: 169, dtype: object
170 Name          Quilava
Generation          2
Name: 170, dtype: object
171 Name          Typhlosion
Generation             2
Name: 171, dtype: object
172 Name          Totodile
Generation           2
Name: 172, dtype: object
173 Name          Croconaw
Generation           2
Name: 173, dtype: object
174 Name          Feraligatr
Generation             2
Name: 174, dtype: object
175 Name          Sentret
Generation          2
Name: 175, dtype: object
176 Name          Furret
Generation         2
Name: 176, dtype: object
177 Name          Hoothoot
Generation           2
Name: 177, dtype: object
178 Name          Noctowl
Generation          2
Name: 178, dtype: object
179 Name          Ledyba
Generation         2
Name: 179, dtype: object
180 Name          Ledian
Generation         2
Name: 180, dtype: object
181 Name          Spinarak
Generation           2
Name: 181, dtype: object
182 Name          Ariados
Generation          2
Name: 182, dtype: object
183 Name          Crobat
Generation         2
Name: 183, dtype: object
184 Name          Chinchou
Generation           2
Name: 184, dtype: object
185 Name          Lanturn
Generation          2
Name: 185, dtype: object
186 Name          Pichu
Generation        2
Name: 186, dtype: object
187 Name          Cleffa
Generation         2
Name: 187, dtype: object
188 Name          Igglybuff
Generation            2
Name: 188, dtype: object
189 Name          Togepi
Generation         2
Name: 189, dtype: object
190 Name          Togetic
Generation          2
Name: 190, dtype: object
191 Name          Natu
Generation       2
Name: 191, dtype: object
192 Name          Xatu
Generation       2
Name: 192, dtype: object
193 Name          Mareep
Generation         2
Name: 193, dtype: object
194 Name          Flaaffy
Generation          2
Name: 194, dtype: object
195 Name          Ampharos
Generation           2
Name: 195, dtype: object
196 Name          AmpharosMega Ampharos
Generation                        2
Name: 196, dtype: object
197 Name          Bellossom
Generation            2
Name: 197, dtype: object
198 Name          Marill
Generation         2
Name: 198, dtype: object
199 Name          Azumarill
Generation            2
Name: 199, dtype: object
200 Name          Sudowoodo
Generation            2
Name: 200, dtype: object
201 Name          Politoed
Generation           2
Name: 201, dtype: object
202 Name          Hoppip
Generation         2
Name: 202, dtype: object
203 Name          Skiploom
Generation           2
Name: 203, dtype: object
204 Name          Jumpluff
Generation           2
Name: 204, dtype: object
205 Name          Aipom
Generation        2
Name: 205, dtype: object
206 Name          Sunkern
Generation          2
Name: 206, dtype: object
207 Name          Sunflora
Generation           2
Name: 207, dtype: object
208 Name          Yanma
Generation        2
Name: 208, dtype: object
209 Name          Wooper
Generation         2
Name: 209, dtype: object
210 Name          Quagsire
Generation           2
Name: 210, dtype: object
211 Name          Espeon
Generation         2
Name: 211, dtype: object
212 Name          Umbreon
Generation          2
Name: 212, dtype: object
213 Name          Murkrow
Generation          2
Name: 213, dtype: object
214 Name          Slowking
Generation           2
Name: 214, dtype: object
215 Name          Misdreavus
Generation             2
Name: 215, dtype: object
216 Name          Unown
Generation        2
Name: 216, dtype: object
217 Name          Wobbuffet
Generation            2
Name: 217, dtype: object
218 Name          Girafarig
Generation            2
Name: 218, dtype: object
219 Name          Pineco
Generation         2
Name: 219, dtype: object
220 Name          Forretress
Generation             2
Name: 220, dtype: object
221 Name          Dunsparce
Generation            2
Name: 221, dtype: object
222 Name          Gligar
Generation         2
Name: 222, dtype: object
223 Name          Steelix
Generation          2
Name: 223, dtype: object
224 Name          SteelixMega Steelix
Generation                      2
Name: 224, dtype: object
225 Name          Snubbull
Generation           2
Name: 225, dtype: object
226 Name          Granbull
Generation           2
Name: 226, dtype: object
227 Name          Qwilfish
Generation           2
Name: 227, dtype: object
228 Name          Scizor
Generation         2
Name: 228, dtype: object
229 Name          ScizorMega Scizor
Generation                    2
Name: 229, dtype: object
230 Name          Shuckle
Generation          2
Name: 230, dtype: object
231 Name          Heracross
Generation            2
Name: 231, dtype: object
232 Name          HeracrossMega Heracross
Generation                          2
Name: 232, dtype: object
233 Name          Sneasel
Generation          2
Name: 233, dtype: object
234 Name          Teddiursa
Generation            2
Name: 234, dtype: object
235 Name          Ursaring
Generation           2
Name: 235, dtype: object
236 Name          Slugma
Generation         2
Name: 236, dtype: object
237 Name          Magcargo
Generation           2
Name: 237, dtype: object
238 Name          Swinub
Generation         2
Name: 238, dtype: object
239 Name          Piloswine
Generation            2
Name: 239, dtype: object
240 Name          Corsola
Generation          2
Name: 240, dtype: object
241 Name          Remoraid
Generation           2
Name: 241, dtype: object
242 Name          Octillery
Generation            2
Name: 242, dtype: object
243 Name          Delibird
Generation           2
Name: 243, dtype: object
244 Name          Mantine
Generation          2
Name: 244, dtype: object
245 Name          Skarmory
Generation           2
Name: 245, dtype: object
246 Name          Houndour
Generation           2
Name: 246, dtype: object
247 Name          Houndoom
Generation           2
Name: 247, dtype: object
248 Name          HoundoomMega Houndoom
Generation                        2
Name: 248, dtype: object
249 Name          Kingdra
Generation          2
Name: 249, dtype: object
250 Name          Phanpy
Generation         2
Name: 250, dtype: object
251 Name          Donphan
Generation          2
Name: 251, dtype: object
252 Name          Porygon2
Generation           2
Name: 252, dtype: object
253 Name          Stantler
Generation           2
Name: 253, dtype: object
254 Name          Smeargle
Generation           2
Name: 254, dtype: object
255 Name          Tyrogue
Generation          2
Name: 255, dtype: object
256 Name          Hitmontop
Generation            2
Name: 256, dtype: object
257 Name          Smoochum
Generation           2
Name: 257, dtype: object
258 Name          Elekid
Generation         2
Name: 258, dtype: object
259 Name          Magby
Generation        2
Name: 259, dtype: object
260 Name          Miltank
Generation          2
Name: 260, dtype: object
261 Name          Blissey
Generation          2
Name: 261, dtype: object
262 Name          Raikou
Generation         2
Name: 262, dtype: object
263 Name          Entei
Generation        2
Name: 263, dtype: object
264 Name          Suicune
Generation          2
Name: 264, dtype: object
265 Name          Larvitar
Generation           2
Name: 265, dtype: object
266 Name          Pupitar
Generation          2

<font size="5">Getting specifics from the rows</font>

In [14]:
## Using this allows you to print out entire rows from the data that is specific to what you need
df.loc[df['Type 1'] == 'Fire']

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False
42,37,Vulpix,Fire,NaN,38,41,40,50,65,65,1,False
43,38,Ninetales,Fire,NaN,73,76,75,81,100,100,1,False
63,58,Growlithe,Fire,NaN,55,70,45,70,50,60,1,False
64,59,Arcanine,Fire,NaN,90,110,80,100,80,95,1,False
83,77,Ponyta,Fire,NaN,50,85,55,65,65,90,1,False
84,78,Rapidash,Fire,NaN,65,100,70,80,80,105,1,False
135,126,Magmar,Fire,NaN,65,95,57,100,85,93,1,False
147,136,Flareon,Fire,NaN,65,130,60,95,110,65,1,False
158,146,Moltres,Fire,Flying,90,100,90,125,85,90,1,True
169,155,Cyndaquil,Fire,NaN,39,52,43,60,50,65,2,False
170,156,Quilava,Fire,NaN,58,64,58,80,65,80,2,False
171,157,Typhlosion,Fire,NaN,78,84,78,109,85,100,2,False
236,218,Slugma,Fire,NaN,40,40,40,70,40,20,2,False
237,219,Magcargo,Fire,Rock,50,50,120,80,80,30,2,False
259,240,Magby,Fire,NaN,45,75,37,70,55,83,2,False
263,244,Entei,Fire,NaN,115,115,85,90,75,100,2,True
270,250,Ho-oh,Fire,Flying,106,130,90,110,154,90,2,True
276,255,Torchic,Fire,NaN,45,60,40,70,50,45,3,False
277,256,Combusken,Fire,Fighting,60,85,60,85,60,55,3,False
278,257,Blaziken,Fire,Fighting,80,120,70,110,70,80,3,False
279,257,BlazikenMega Blaziken,Fire,Fighting,80,160,80,130,80,100,3,False
352,322,Numel,Fire,Ground,60,60,40,65,45,35,3,False
353,323,Camerupt,Fire,Ground,70,100,70,105,75,40,3,False
354,323,CameruptMega Camerupt,Fire,Ground,70,120,100,145,105,20,3,False
355,324,Torkoal,Fire,NaN,70,85,140,85,70,20,3,False
435,390,Chimchar,Fire,NaN,44,58,44,58,44,61,4,False
436,391,Monferno,Fire,Fighting,64,78,52,78,52,81,4,False
437,392,Infernape,Fire,Fighting,76,104,71,104,71,108,4,False
518,467,Magmortar,Fire,NaN,75,95,67,125,95,83,4,False
542,485,Heatran,Fire,Steel,91,90,106,130,106,77,4,True
557,498,Tepig,Fire,NaN,65,63,45,45,45,45,5,False
558,499,Pignite,Fire,Fighting,90,93,55,70,55,55,5,False
559,500,Emboar,Fire,Fighting,110,123,65,100,65,65,5,False
572,513,Pansear,Fire,NaN,50,53,48,53,48,64,5,False
573,514,Simisear,Fire,NaN,75,98,63,98,63,101,5,False
614,554,Darumaka,Fire,NaN,70,90,45,15,45,50,5,False
615,555,DarmanitanStandard Mode,Fire,NaN,105,140,55,30,55,95,5,False
616,555,DarmanitanZen Mode,Fire,Psychic,105,30,105,140,105,55,5,False
692,631,Heatmor,Fire,NaN,85,97,66,105,66,65,5,False
721,653,Fennekin,Fire,NaN,40,45,40,62,60,60,6,False
722,654,Braixen,Fire,NaN,59,59,58,90,70,73,6,False
723,655,Delphox,Fire,Psychic,75,69,72,114,100,104,6,False
730,662,Fletchinder,Fire,Flying,62,73,55,56,52,84,6,False
731,663,Talonflame,Fire,Flying,78,81,71,74,69,126,6,False
735,667,Litleo,Fire,Normal,62,50,58,73,54,72,6,False
736,668,Pyroar,Fire,Normal,86,68,72,109,66,106,6,False
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [15]:
## Integars work as well
df.loc[df['HP'] == 1]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
316,292,Shedinja,Bug,Ghost,1,90,45,30,30,40,3,False

In [16]:
## You can also get multiple conditions
df.loc[(df['Type 1'] == 'Water') & (df['Generation'] == 3)]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
280,258,Mudkip,Water,NaN,50,70,50,50,50,40,3,False
281,259,Marshtomp,Water,Ground,70,85,70,60,70,50,3,False
282,260,Swampert,Water,Ground,100,110,90,85,90,60,3,False
283,260,SwampertMega Swampert,Water,Ground,100,150,110,95,110,70,3,False
293,270,Lotad,Water,Grass,40,30,30,40,50,30,3,False
294,271,Lombre,Water,Grass,60,50,50,60,70,50,3,False
295,272,Ludicolo,Water,Grass,80,70,70,90,100,70,3,False
301,278,Wingull,Water,Flying,40,30,30,55,30,85,3,False
302,279,Pelipper,Water,Flying,60,50,100,85,70,65,3,False
347,318,Carvanha,Water,Dark,45,90,20,65,20,65,3,False
348,319,Sharpedo,Water,Dark,70,120,40,95,40,95,3,False
349,319,SharpedoMega Sharpedo,Water,Dark,70,140,70,110,65,105,3,False
350,320,Wailmer,Water,NaN,130,70,35,70,35,60,3,False
351,321,Wailord,Water,NaN,170,90,45,90,45,60,3,False
371,339,Barboach,Water,Ground,50,48,43,46,41,60,3,False
372,340,Whiscash,Water,Ground,110,78,73,76,71,60,3,False
373,341,Corphish,Water,NaN,43,80,65,50,35,35,3,False
374,342,Crawdaunt,Water,Dark,63,120,85,90,55,55,3,False
381,349,Feebas,Water,NaN,20,15,20,10,55,80,3,False
382,350,Milotic,Water,NaN,95,60,79,100,125,81,3,False
401,366,Clamperl,Water,NaN,35,64,85,74,55,32,3,False
402,367,Huntail,Water,NaN,55,104,105,94,75,52,3,False
403,368,Gorebyss,Water,NaN,55,84,105,114,75,52,3,False
404,369,Relicanth,Water,Rock,100,90,130,45,65,55,3,False
405,370,Luvdisc,Water,NaN,43,30,55,40,65,97,3,False
421,382,Kyogre,Water,NaN,100,100,90,150,140,90,3,True
422,382,KyogrePrimal Kyogre,Water,NaN,100,150,90,180,160,90,3,True

<font size="6">Sorting/Describing Data</font>

<font size="5">Describing the data</font>

In [17]:
df.describe()

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

<font size="5">Sorting the data</font>

In [18]:
## To sort by alphabetical order, use the sort_values() function and pass in the column that you want to sort
df.sort_values('Name')

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
510,460,Abomasnow,Grass,Ice,90,92,75,92,85,60,4,False
511,460,AbomasnowMega Abomasnow,Grass,Ice,90,132,105,132,105,30,4,False
68,63,Abra,Psychic,NaN,25,20,15,105,55,90,1,False
392,359,Absol,Dark,NaN,65,130,60,75,60,75,3,False
393,359,AbsolMega Absol,Dark,NaN,65,150,60,115,60,115,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...
632,571,Zoroark,Dark,NaN,60,105,60,120,60,105,5,False
631,570,Zorua,Dark,NaN,40,65,40,80,40,65,5,False
46,41,Zubat,Poison,Flying,40,45,35,30,40,55,1,False
695,634,Zweilous,Dark,Dragon,72,85,70,65,70,58,5,False
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True

In [19]:
## To sort in reverese alphabeticl order, pass in the following
df.sort_values('Name', ascending=False)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True
695,634,Zweilous,Dark,Dragon,72,85,70,65,70,58,5,False
46,41,Zubat,Poison,Flying,40,45,35,30,40,55,1,False
631,570,Zorua,Dark,NaN,40,65,40,80,40,65,5,False
632,571,Zoroark,Dark,NaN,60,105,60,120,60,105,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...
393,359,AbsolMega Absol,Dark,NaN,65,150,60,115,60,115,3,False
392,359,Absol,Dark,NaN,65,130,60,75,60,75,3,False
68,63,Abra,Psychic,NaN,25,20,15,105,55,90,1,False
511,460,AbomasnowMega Abomasnow,Grass,Ice,90,132,105,132,105,30,4,False
510,460,Abomasnow,Grass,Ice,90,92,75,92,85,60,4,False

In [20]:
## You can also use pass in multiple columns. This will sort in order of columns passed
df.sort_values(['Type 1', 'Attack'])

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
230,213,Shuckle,Bug,Rock,20,10,230,10,230,5,2,False
14,11,Metapod,Bug,NaN,50,20,55,25,25,30,1,False
179,165,Ledyba,Bug,Flying,40,20,30,40,80,55,2,False
733,665,Spewpa,Bug,NaN,45,22,60,27,30,29,6,False
17,14,Kakuna,Bug,Poison,45,25,50,25,25,35,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
107,99,Kingler,Water,NaN,55,130,115,50,50,75,1,False
349,319,SharpedoMega Sharpedo,Water,Dark,70,140,70,110,65,105,3,False
283,260,SwampertMega Swampert,Water,Ground,100,150,110,95,110,70,3,False
422,382,KyogrePrimal Kyogre,Water,NaN,100,150,90,180,160,90,3,True
141,130,GyaradosMega Gyarados,Water,Dark,95,155,109,70,130,81,1,False

In [21]:
## You can specify which columns you want ascending and decending
## 1 obviously means True while 0 means False
df.sort_values(['Name', 'Attack'], ascending=[1,0])

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
510,460,Abomasnow,Grass,Ice,90,92,75,92,85,60,4,False
511,460,AbomasnowMega Abomasnow,Grass,Ice,90,132,105,132,105,30,4,False
68,63,Abra,Psychic,NaN,25,20,15,105,55,90,1,False
392,359,Absol,Dark,NaN,65,130,60,75,60,75,3,False
393,359,AbsolMega Absol,Dark,NaN,65,150,60,115,60,115,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...
632,571,Zoroark,Dark,NaN,60,105,60,120,60,105,5,False
631,570,Zorua,Dark,NaN,40,65,40,80,40,65,5,False
46,41,Zubat,Poison,Flying,40,45,35,30,40,55,1,False
695,634,Zweilous,Dark,Dragon,72,85,70,65,70,58,5,False
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True

<font size="6">Making Changes to the Data</font>

<font size="5">Adding a column</font>

In [22]:
## Let's say you want to add all the values in you data, this is how
df['Total'] = df['HP'] + df['Attack'] + df['Defense'] + df['Sp. Atk'] + df['Sp. Def'] + df['Speed']

## Now we print it
df.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309

<font size="5">Dropping a column</font>

In [23]:
## You can remove a column with the drop function
## In order for this to work, you are going to need to set it to a varible (which could be the same)
df = df.drop(columns=['Total'])

## Print to show it is gone
df.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

<font size="5">Moving a column</font>

In [24]:
## Adding it back the so we can move it
df['Total'] = df['HP'] + df['Attack'] + df['Defense'] + df['Sp. Atk'] + df['Sp. Def'] + df['Speed']

df.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309

In [25]:
## Making a new varible (with the same name) allows you to order the columns as ou please
df = df[['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Total', 'Generation', 'Legendary']]

df.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,318,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,405,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,525,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,625,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,309,1,False

<font size="6">Saving Data (Exporting)</font>

<font size="5">To CSV File</font>

In [26]:
## If it takes you to the next cell, that means it should have worked
df.to_csv('modified.csv')

In [27]:
## If you don't want to the indexes to be in the data, pass in the index=False argument
df.to_csv('modified.csv', index=False)

<font size="5">To Excel File</font>

In [28]:
df.to_excel('modified.xlsx', index=False)

<class 'ModuleNotFoundError'>: No module named 'openpyxl'

<font size="5">To TXT File</font>

In [29]:
df.to_txt('modified.csv', index=False, sep='\t')

<class 'AttributeError'>: 'DataFrame' object has no attribute 'to_txt'

<font size="6">Filtering Data</font>

<font size="5">"And" sign</font>

In [30]:
## As shown earlier, you can get mulitple conditions when filtering data
df.loc[(df['Type 1'] == 'Grass') & (df['Legendary'] == 1)]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total,Generation,Legendary
550,492,ShayminLand Forme,Grass,NaN,100,100,100,100,100,100,600,4,True
551,492,ShayminSky Forme,Grass,Flying,100,103,75,120,75,127,600,4,True
701,640,Virizion,Grass,Fighting,91,90,72,90,129,108,580,5,True

In [31]:
## Another example
df.loc[(df['Type 1'] == 'Fire') & (df['HP'] > 100) & (df['Speed'] < 75)]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total,Generation,Legendary
559,500,Emboar,Fire,Fighting,110,123,65,100,65,65,528,5,False
616,555,DarmanitanZen Mode,Fire,Psychic,105,30,105,140,105,55,540,5,False

<font size="5">"Or" sign</font>

In [32]:
## You can also us | as the "or" sign
df.loc[(df['Speed'] > 105) | (df['Defense'] > 100)]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total,Generation,Legendary
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,625,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,634,1,False
12,9,BlastoiseMega Blastoise,Water,NaN,79,103,120,135,115,78,630,1,False
19,15,BeedrillMega Beedrill,Bug,Poison,65,150,40,15,80,145,495,1,False
23,18,PidgeotMega Pidgeot,Normal,Flying,83,80,80,135,80,121,579,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
791,715,Noivern,Flying,Dragon,85,70,80,97,80,123,535,6,False
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,600,6,True
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,600,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,700,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,600,6,True

<font size="5">Creating New Dataframe</font>

In [33]:
## You can simply create a new variable which will give you a new df
## Using the above table to create a new df
new_df = df.loc[(df['Speed'] > 105) | (df['Defense'] > 100)]

new_df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total,Generation,Legendary
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,625,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,634,1,False
12,9,BlastoiseMega Blastoise,Water,NaN,79,103,120,135,115,78,630,1,False
19,15,BeedrillMega Beedrill,Bug,Poison,65,150,40,15,80,145,495,1,False
23,18,PidgeotMega Pidgeot,Normal,Flying,83,80,80,135,80,121,579,1,False

In [34]:
## You can also save the new df to a csv at any point

#new_df.to_csv('filtered.csv')

<font size="5">Reseting Indexes</font>

In [35]:
## As you can see the new df kept the old indexes. We can reset them with this function

new_df = new_df.reset_index()

## Printing 
new_df.head()

,index,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total,Generation,Legendary
0,3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,625,1,False
1,7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,634,1,False
2,12,9,BlastoiseMega Blastoise,Water,NaN,79,103,120,135,115,78,630,1,False
3,19,15,BeedrillMega Beedrill,Bug,Poison,65,150,40,15,80,145,495,1,False
4,23,18,PidgeotMega Pidgeot,Normal,Flying,83,80,80,135,80,121,579,1,False

In [36]:
## It will save the old index as a new column but as shown earlier, we can get rid of it if we dont want it

new_df = new_df.drop(columns=['index'])

## Printing
new_df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total,Generation,Legendary
0,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,625,1,False
1,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,634,1,False
2,9,BlastoiseMega Blastoise,Water,NaN,79,103,120,135,115,78,630,1,False
3,15,BeedrillMega Beedrill,Bug,Poison,65,150,40,15,80,145,495,1,False
4,18,PidgeotMega Pidgeot,Normal,Flying,83,80,80,135,80,121,579,1,False

In [37]:
## You can also do within the function itself. Let's see how

## Bringing up df
new_df = df.loc[(df['Speed'] > 105) | (df['Defense'] > 100)]

## Using new arguments in function
new_df.reset_index(drop=True, inplace=True)

# The "drop" argument removes the index column
# The "inplace" argument allows you to not create a new variable

## Printing
new_df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total,Generation,Legendary
0,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,625,1,False
1,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,634,1,False
2,9,BlastoiseMega Blastoise,Water,NaN,79,103,120,135,115,78,630,1,False
3,15,BeedrillMega Beedrill,Bug,Poison,65,150,40,15,80,145,495,1,False
4,18,PidgeotMega Pidgeot,Normal,Flying,83,80,80,135,80,121,579,1,False

<font size="5">Name Conditions</font>

In [38]:
## You can filter names as well
df.loc[df['Name'].str.contains('Mega')]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total,Generation,Legendary
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,625,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,634,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,634,1,False
12,9,BlastoiseMega Blastoise,Water,NaN,79,103,120,135,115,78,630,1,False
19,15,BeedrillMega Beedrill,Bug,Poison,65,150,40,15,80,145,495,1,False
23,18,PidgeotMega Pidgeot,Normal,Flying,83,80,80,135,80,121,579,1,False
71,65,AlakazamMega Alakazam,Psychic,NaN,55,50,65,175,95,150,590,1,False
87,80,SlowbroMega Slowbro,Water,Psychic,95,75,180,130,80,30,590,1,False
102,94,GengarMega Gengar,Ghost,Poison,60,65,80,170,95,130,600,1,False
124,115,KangaskhanMega Kangaskhan,Normal,NaN,105,125,100,60,100,100,590,1,False
137,127,PinsirMega Pinsir,Bug,Flying,65,155,120,65,90,105,600,1,False
141,130,GyaradosMega Gyarados,Water,Dark,95,155,109,70,130,81,640,1,False
154,142,AerodactylMega Aerodactyl,Rock,Flying,80,135,85,70,95,150,615,1,False
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,106,190,100,154,100,130,780,1,True
164,150,MewtwoMega Mewtwo Y,Psychic,NaN,106,150,70,194,120,140,780,1,True
168,154,Meganium,Grass,NaN,80,82,100,83,100,80,525,2,False
196,181,AmpharosMega Ampharos,Electric,Dragon,90,95,105,165,110,45,610,2,False
224,208,SteelixMega Steelix,Steel,Ground,75,125,230,55,95,30,610,2,False
229,212,ScizorMega Scizor,Bug,Steel,70,150,140,65,100,75,600,2,False
232,214,HeracrossMega Heracross,Bug,Fighting,80,185,115,40,105,75,600,2,False
248,229,HoundoomMega Houndoom,Dark,Fire,75,90,90,140,90,115,600,2,False
268,248,TyranitarMega Tyranitar,Rock,Dark,100,164,150,95,120,71,700,2,False
275,254,SceptileMega Sceptile,Grass,Dragon,70,110,75,145,85,145,630,3,False
279,257,BlazikenMega Blaziken,Fire,Fighting,80,160,80,130,80,100,630,3,False
283,260,SwampertMega Swampert,Water,Ground,100,150,110,95,110,70,635,3,False
306,282,GardevoirMega Gardevoir,Psychic,Fairy,68,85,65,165,135,100,618,3,False
327,302,SableyeMega Sableye,Dark,Ghost,50,85,125,85,115,20,480,3,False
329,303,MawileMega Mawile,Steel,Fairy,50,105,125,55,95,50,480,3,False
333,306,AggronMega Aggron,Steel,NaN,70,140,230,60,80,50,630,3,False
336,308,MedichamMega Medicham,Fighting,Psychic,60,100,85,80,85,100,510,3,False
339,310,ManectricMega Manectric,Electric,NaN,70,75,80,135,80,135,575,3,False
349,319,SharpedoMega Sharpedo,Water,Dark,70,140,70,110,65,105,560,3,False
354,323,CameruptMega Camerupt,Fire,Ground,70,120,100,145,105,20,560,3,False
366,334,AltariaMega Altaria,Dragon,Fairy,75,110,110,110,105,80,590,3,False
387,354,BanetteMega Banette,Ghost,NaN,64,165,75,93,83,75,555,3,False
393,359,AbsolMega Absol,Dark,NaN,65,150,60,115,60,115,565,3,False
397,362,GlalieMega Glalie,Ice,NaN,80,120,80,120,80,100,580,3,False
409,373,SalamenceMega Salamence,Dragon,Flying,95,145,130,120,90,120,700,3,False
413,376,MetagrossMega Metagross,Steel,Psychic,80,145,150,105,110,110,700,3,False
418,380,LatiasMega Latias,Dragon,Psychic,80,100,120,140,150,110,700,3,True
420,381,LatiosMega Latios,Dragon,Psychic,80,130,100,160,120,110,700,3,True
426,384,RayquazaMega Rayquaza,Dragon,Flying,105,180,100,180,100,115,780,3,True
476,428,LopunnyMega Lopunny,Normal,Fighting,65,136,94,54,96,135,580,4,False
494,445,GarchompMega Garchomp,Dragon,Ground,108,170,115,120,95,92,700,4,False
498,448,LucarioMega Lucario,Fighting,Steel,70,145,88,140,70,112,625,4,False
511,460,AbomasnowMega Abomasnow,Grass,Ice,90,132,105,132,105,30,594,4,False
527,475,GalladeMega Gallade,Psychic,Fighting,68,165,95,65,115,110,618,4,False
591,531,AudinoMega Audino,Normal,Fairy,103,60,126,80,126,50,545,5,False
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,700,6,True

In [45]:
## To get the reverse of this (rows that do not contain 'Mega'), you add a squigly line
df.loc[~df['Name'].str.contains('Mega')]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,318,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,405,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,525,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,309,1,False
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,405,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,600,6,True
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,600,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,600,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,680,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,600,6,True

In [40]:
## Going to import Regulary Expressions Library to find certain texual patterns
import re
df.loc[df['Type 1'].str.contains('Fire|Grass', regex=True)]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,318,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,405,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,525,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,625,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,309,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
735,667,Litleo,Fire,Normal,62,50,58,73,54,72,369,6,False
736,668,Pyroar,Fire,Normal,86,68,72,109,66,106,507,6,False
740,672,Skiddo,Grass,NaN,66,65,48,62,57,52,350,6,False
741,673,Gogoat,Grass,NaN,123,100,62,97,81,68,531,6,False
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,600,6,True

In [41]:
## You can ignore capitalization by passing in a flag argument
df.loc[df['Type 1'].str.contains('fire|grass', flags=re.I, regex=True)]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,318,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,405,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,525,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,625,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,309,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
735,667,Litleo,Fire,Normal,62,50,58,73,54,72,369,6,False
736,668,Pyroar,Fire,Normal,86,68,72,109,66,106,507,6,False
740,672,Skiddo,Grass,NaN,66,65,48,62,57,52,350,6,False
741,673,Gogoat,Grass,NaN,123,100,62,97,81,68,531,6,False
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,600,6,True

In [42]:
## In this example, it is saying to find rows in the name column that start with 'pi' (thats what the ^ is for), then the next letter can be anywhere from a-z, then the * means it can be 0 characters or more
df.loc[df['Name'].str.contains('^pi[a-z]*', flags=re.I, regex=True)]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total,Generation,Legendary
20,16,Pidgey,Normal,Flying,40,45,40,35,35,56,251,1,False
21,17,Pidgeotto,Normal,Flying,63,60,55,50,50,71,349,1,False
22,18,Pidgeot,Normal,Flying,83,80,75,70,70,101,479,1,False
23,18,PidgeotMega Pidgeot,Normal,Flying,83,80,80,135,80,121,579,1,False
30,25,Pikachu,Electric,NaN,35,55,40,50,50,90,320,1,False
136,127,Pinsir,Bug,NaN,65,125,100,55,70,85,500,1,False
137,127,PinsirMega Pinsir,Bug,Flying,65,155,120,65,90,105,600,1,False
186,172,Pichu,Electric,NaN,20,40,15,35,35,60,205,2,False
219,204,Pineco,Bug,NaN,50,65,90,35,35,15,290,2,False
239,221,Piloswine,Ice,Ground,100,100,80,60,60,50,450,2,False
438,393,Piplup,Water,NaN,53,51,53,61,56,40,314,4,False
558,499,Pignite,Fire,Fighting,90,93,55,70,55,55,418,5,False
578,519,Pidove,Normal,Flying,50,55,50,36,30,43,264,5,False

<font size="5">Conditional Changes</font>

In [48]:
## Changing the name of certain attributes in the data
df.loc[df['Type 1'] == 'Fire', 'Type 1'] = 'Flamer'

## Printing an example of a fire type pokemon
df.loc[df['Name'] == 'Charmander']

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total,Generation,Legendary
4,4,Charmander,Flamer,NaN,39,52,43,60,50,65,309,1,False

In [49]:
## Another example
df.loc[df['Type 1'] == 'Grass', 'Type 1'] = 'Leaf'

## Printing
df.head(5)

## As you can see, all of the grass type pokemon are now labeled as 'Leaf' in the Type 1 column

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total,Generation,Legendary
0,1,Bulbasaur,Leaf,Poison,45,49,49,65,65,45,318,1,False
1,2,Ivysaur,Leaf,Poison,60,62,63,80,80,60,405,1,False
2,3,Venusaur,Leaf,Poison,80,82,83,100,100,80,525,1,False
3,3,VenusaurMega Venusaur,Leaf,Poison,80,100,123,122,120,80,625,1,False
4,4,Charmander,Flamer,NaN,39,52,43,60,50,65,309,1,False

In [50]:
## Changing back to the original df
df.loc[df['Type 1'] == 'Flamer', 'Type 1'] = 'Fire'
df.loc[df['Type 1'] == 'Leaf', 'Type 1'] = 'Grass'

## Printing
df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,318,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,405,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,525,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,625,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,309,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,600,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,700,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,600,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,680,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,600,6,True

In [51]:
## You can also change a column while referencing another
## For example, let's make all of the fire type pokemon legendary
df.loc[df['Type 1'] == 'Fire', 'Legendary'] = True

## Printing all fire type pokemon
df.loc[df['Type 1'] == 'Fire']

## As you'll see, they are now all legendary

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total,Generation,Legendary
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,309,1,True
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,405,1,True
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,534,1,True
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,634,1,True
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,634,1,True
42,37,Vulpix,Fire,NaN,38,41,40,50,65,65,299,1,True
43,38,Ninetales,Fire,NaN,73,76,75,81,100,100,505,1,True
63,58,Growlithe,Fire,NaN,55,70,45,70,50,60,350,1,True
64,59,Arcanine,Fire,NaN,90,110,80,100,80,95,555,1,True
83,77,Ponyta,Fire,NaN,50,85,55,65,65,90,410,1,True
84,78,Rapidash,Fire,NaN,65,100,70,80,80,105,500,1,True
135,126,Magmar,Fire,NaN,65,95,57,100,85,93,495,1,True
147,136,Flareon,Fire,NaN,65,130,60,95,110,65,525,1,True
158,146,Moltres,Fire,Flying,90,100,90,125,85,90,580,1,True
169,155,Cyndaquil,Fire,NaN,39,52,43,60,50,65,309,2,True
170,156,Quilava,Fire,NaN,58,64,58,80,65,80,405,2,True
171,157,Typhlosion,Fire,NaN,78,84,78,109,85,100,534,2,True
236,218,Slugma,Fire,NaN,40,40,40,70,40,20,250,2,True
237,219,Magcargo,Fire,Rock,50,50,120,80,80,30,410,2,True
259,240,Magby,Fire,NaN,45,75,37,70,55,83,365,2,True
263,244,Entei,Fire,NaN,115,115,85,90,75,100,580,2,True
270,250,Ho-oh,Fire,Flying,106,130,90,110,154,90,680,2,True
276,255,Torchic,Fire,NaN,45,60,40,70,50,45,310,3,True
277,256,Combusken,Fire,Fighting,60,85,60,85,60,55,405,3,True
278,257,Blaziken,Fire,Fighting,80,120,70,110,70,80,530,3,True
279,257,BlazikenMega Blaziken,Fire,Fighting,80,160,80,130,80,100,630,3,True
352,322,Numel,Fire,Ground,60,60,40,65,45,35,305,3,True
353,323,Camerupt,Fire,Ground,70,100,70,105,75,40,460,3,True
354,323,CameruptMega Camerupt,Fire,Ground,70,120,100,145,105,20,560,3,True
355,324,Torkoal,Fire,NaN,70,85,140,85,70,20,470,3,True
435,390,Chimchar,Fire,NaN,44,58,44,58,44,61,309,4,True
436,391,Monferno,Fire,Fighting,64,78,52,78,52,81,405,4,True
437,392,Infernape,Fire,Fighting,76,104,71,104,71,108,534,4,True
518,467,Magmortar,Fire,NaN,75,95,67,125,95,83,540,4,True
542,485,Heatran,Fire,Steel,91,90,106,130,106,77,600,4,True
557,498,Tepig,Fire,NaN,65,63,45,45,45,45,308,5,True
558,499,Pignite,Fire,Fighting,90,93,55,70,55,55,418,5,True
559,500,Emboar,Fire,Fighting,110,123,65,100,65,65,528,5,True
572,513,Pansear,Fire,NaN,50,53,48,53,48,64,316,5,True
573,514,Simisear,Fire,NaN,75,98,63,98,63,101,498,5,True
614,554,Darumaka,Fire,NaN,70,90,45,15,45,50,315,5,True
615,555,DarmanitanStandard Mode,Fire,NaN,105,140,55,30,55,95,480,5,True
616,555,DarmanitanZen Mode,Fire,Psychic,105,30,105,140,105,55,540,5,True
692,631,Heatmor,Fire,NaN,85,97,66,105,66,65,484,5,True
721,653,Fennekin,Fire,NaN,40,45,40,62,60,60,307,6,True
722,654,Braixen,Fire,NaN,59,59,58,90,70,73,409,6,True
723,655,Delphox,Fire,Psychic,75,69,72,114,100,104,534,6,True
730,662,Fletchinder,Fire,Flying,62,73,55,56,52,84,382,6,True
731,663,Talonflame,Fire,Flying,78,81,71,74,69,126,499,6,True
735,667,Litleo,Fire,Normal,62,50,58,73,54,72,369,6,True
736,668,Pyroar,Fire,Normal,86,68,72,109,66,106,507,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,600,6,True

<font size="5">Aggregate Statistics (Group By)</font>

In [62]:
## Let's get the original df back with the Total column
new_df = pd.read_csv('pokemon_data.csv')
new_df['Total'] = new_df['HP'] + new_df['Attack'] + new_df['Defense'] + new_df['Sp. Atk'] + new_df['Sp. Def'] + new_df['Speed']
new_df = new_df[['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Total', 'Generation', 'Legendary']]


## Printing to check
new_df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,318,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,405,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,525,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,625,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,309,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,600,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,700,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,600,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,680,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,600,6,True

In [63]:
## Let's say you wanted to see the average of all the columns by each type of pokemon. Here's how
new_df.groupby(['Type 1']).mean()

<ipython-input-63-85ff0dd4a09e>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  new_df.groupby(['Type 1']).mean()

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total,Generation,Legendary
Type 1,,,,,,,,,,
Bug,334.492754,56.884058,70.971014,70.724638,53.869565,64.797101,61.681159,378.927536,3.217391,0.000000
Dark,461.354839,66.806452,88.387097,70.225806,74.645161,69.516129,76.161290,445.741935,4.032258,0.064516
Dragon,474.375000,83.312500,112.125000,86.375000,96.843750,88.843750,83.031250,550.531250,3.875000,0.375000
Electric,363.500000,59.795455,69.090909,66.295455,90.022727,73.704545,84.500000,443.409091,3.272727,0.090909
Fairy,449.529412,74.117647,61.529412,65.705882,78.529412,84.705882,48.588235,413.176471,4.117647,0.058824
Fighting,363.851852,69.851852,96.777778,65.925926,53.111111,64.703704,66.074074,416.444444,3.370370,0.000000
Fire,327.403846,69.903846,84.769231,67.769231,88.980769,72.211538,74.442308,458.076923,3.211538,0.096154
Flying,677.750000,70.750000,78.750000,66.250000,94.250000,72.500000,102.500000,485.000000,5.500000,0.500000
Ghost,486.500000,64.437500,73.781250,81.187500,79.343750,76.468750,64.343750,439.562500,4.187500,0.062500
Grass,344.871429,67.271429,73.214286,70.800000,77.500000,70.428571,61.928571,421.142857,3.357143,0.042857
Ground,356.281250,73.781250,95.750000,84.843750,56.468750,62.750000,63.906250,437.500000,3.156250,0.125000
Ice,423.541667,72.000000,72.750000,71.416667,77.541667,76.291667,63.458333,433.458333,3.541667,0.083333
Normal,319.173469,77.275510,73.469388,59.846939,55.816327,63.724490,71.551020,401.683673,3.051020,0.020408
Poison,251.785714,67.250000,74.678571,68.821429,60.428571,64.392857,63.571429,399.142857,2.535714,0.000000
Psychic,380.807018,70.631579,71.456140,67.684211,98.403509,86.280702,81.491228,475.947368,3.385965,0.245614
Rock,392.727273,65.363636,92.863636,100.795455,63.340909,75.477273,55.909091,453.750000,3.454545,0.090909
Steel,442.851852,65.222222,92.703704,126.370370,67.518519,80.629630,55.259259,487.703704,3.851852,0.148148
Water,303.089286,72.062500,74.151786,72.946429,74.812500,70.517857,65.964286,430.455357,2.857143,0.035714

In [65]:
## Now we can sort it using the sort function we learned earlier
new_df.groupby(['Type 1']).mean().sort_values('Defense')

<ipython-input-65-9cd1d2dc6311>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  new_df.groupby(['Type 1']).mean().sort_values('Defense')

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total,Generation,Legendary
Type 1,,,,,,,,,,
Normal,319.173469,77.275510,73.469388,59.846939,55.816327,63.724490,71.551020,401.683673,3.051020,0.020408
Fairy,449.529412,74.117647,61.529412,65.705882,78.529412,84.705882,48.588235,413.176471,4.117647,0.058824
Fighting,363.851852,69.851852,96.777778,65.925926,53.111111,64.703704,66.074074,416.444444,3.370370,0.000000
Flying,677.750000,70.750000,78.750000,66.250000,94.250000,72.500000,102.500000,485.000000,5.500000,0.500000
Electric,363.500000,59.795455,69.090909,66.295455,90.022727,73.704545,84.500000,443.409091,3.272727,0.090909
Psychic,380.807018,70.631579,71.456140,67.684211,98.403509,86.280702,81.491228,475.947368,3.385965,0.245614
Fire,327.403846,69.903846,84.769231,67.769231,88.980769,72.211538,74.442308,458.076923,3.211538,0.096154
Poison,251.785714,67.250000,74.678571,68.821429,60.428571,64.392857,63.571429,399.142857,2.535714,0.000000
Dark,461.354839,66.806452,88.387097,70.225806,74.645161,69.516129,76.161290,445.741935,4.032258,0.064516
Bug,334.492754,56.884058,70.971014,70.724638,53.869565,64.797101,61.681159,378.927536,3.217391,0.000000
Grass,344.871429,67.271429,73.214286,70.800000,77.500000,70.428571,61.928571,421.142857,3.357143,0.042857
Ice,423.541667,72.000000,72.750000,71.416667,77.541667,76.291667,63.458333,433.458333,3.541667,0.083333
Water,303.089286,72.062500,74.151786,72.946429,74.812500,70.517857,65.964286,430.455357,2.857143,0.035714
Ghost,486.500000,64.437500,73.781250,81.187500,79.343750,76.468750,64.343750,439.562500,4.187500,0.062500
Ground,356.281250,73.781250,95.750000,84.843750,56.468750,62.750000,63.906250,437.500000,3.156250,0.125000
Dragon,474.375000,83.312500,112.125000,86.375000,96.843750,88.843750,83.031250,550.531250,3.875000,0.375000
Rock,392.727273,65.363636,92.863636,100.795455,63.340909,75.477273,55.909091,453.750000,3.454545,0.090909
Steel,442.851852,65.222222,92.703704,126.370370,67.518519,80.629630,55.259259,487.703704,3.851852,0.148148

In [67]:
## We can flip it as well
new_df.groupby(['Type 1']).mean().sort_values('Defense', ascending=False)

<ipython-input-67-ad62edde53a8>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  new_df.groupby(['Type 1']).mean().sort_values('Defense', ascending=False)

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total,Generation,Legendary
Type 1,,,,,,,,,,
Steel,442.851852,65.222222,92.703704,126.370370,67.518519,80.629630,55.259259,487.703704,3.851852,0.148148
Rock,392.727273,65.363636,92.863636,100.795455,63.340909,75.477273,55.909091,453.750000,3.454545,0.090909
Dragon,474.375000,83.312500,112.125000,86.375000,96.843750,88.843750,83.031250,550.531250,3.875000,0.375000
Ground,356.281250,73.781250,95.750000,84.843750,56.468750,62.750000,63.906250,437.500000,3.156250,0.125000
Ghost,486.500000,64.437500,73.781250,81.187500,79.343750,76.468750,64.343750,439.562500,4.187500,0.062500
Water,303.089286,72.062500,74.151786,72.946429,74.812500,70.517857,65.964286,430.455357,2.857143,0.035714
Ice,423.541667,72.000000,72.750000,71.416667,77.541667,76.291667,63.458333,433.458333,3.541667,0.083333
Grass,344.871429,67.271429,73.214286,70.800000,77.500000,70.428571,61.928571,421.142857,3.357143,0.042857
Bug,334.492754,56.884058,70.971014,70.724638,53.869565,64.797101,61.681159,378.927536,3.217391,0.000000
Dark,461.354839,66.806452,88.387097,70.225806,74.645161,69.516129,76.161290,445.741935,4.032258,0.064516
Poison,251.785714,67.250000,74.678571,68.821429,60.428571,64.392857,63.571429,399.142857,2.535714,0.000000
Fire,327.403846,69.903846,84.769231,67.769231,88.980769,72.211538,74.442308,458.076923,3.211538,0.096154
Psychic,380.807018,70.631579,71.456140,67.684211,98.403509,86.280702,81.491228,475.947368,3.385965,0.245614
Electric,363.500000,59.795455,69.090909,66.295455,90.022727,73.704545,84.500000,443.409091,3.272727,0.090909
Flying,677.750000,70.750000,78.750000,66.250000,94.250000,72.500000,102.500000,485.000000,5.500000,0.500000
Fighting,363.851852,69.851852,96.777778,65.925926,53.111111,64.703704,66.074074,416.444444,3.370370,0.000000
Fairy,449.529412,74.117647,61.529412,65.705882,78.529412,84.705882,48.588235,413.176471,4.117647,0.058824
Normal,319.173469,77.275510,73.469388,59.846939,55.816327,63.724490,71.551020,401.683673,3.051020,0.020408

In [69]:
## Another example
new_df.groupby(['Type 1']).mean().sort_values('Attack', ascending=False)

<ipython-input-69-537489888cff>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  new_df.groupby(['Type 1']).mean().sort_values('Attack', ascending=False)

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total,Generation,Legendary
Type 1,,,,,,,,,,
Dragon,474.375000,83.312500,112.125000,86.375000,96.843750,88.843750,83.031250,550.531250,3.875000,0.375000
Fighting,363.851852,69.851852,96.777778,65.925926,53.111111,64.703704,66.074074,416.444444,3.370370,0.000000
Ground,356.281250,73.781250,95.750000,84.843750,56.468750,62.750000,63.906250,437.500000,3.156250,0.125000
Rock,392.727273,65.363636,92.863636,100.795455,63.340909,75.477273,55.909091,453.750000,3.454545,0.090909
Steel,442.851852,65.222222,92.703704,126.370370,67.518519,80.629630,55.259259,487.703704,3.851852,0.148148
Dark,461.354839,66.806452,88.387097,70.225806,74.645161,69.516129,76.161290,445.741935,4.032258,0.064516
Fire,327.403846,69.903846,84.769231,67.769231,88.980769,72.211538,74.442308,458.076923,3.211538,0.096154
Flying,677.750000,70.750000,78.750000,66.250000,94.250000,72.500000,102.500000,485.000000,5.500000,0.500000
Poison,251.785714,67.250000,74.678571,68.821429,60.428571,64.392857,63.571429,399.142857,2.535714,0.000000
Water,303.089286,72.062500,74.151786,72.946429,74.812500,70.517857,65.964286,430.455357,2.857143,0.035714
Ghost,486.500000,64.437500,73.781250,81.187500,79.343750,76.468750,64.343750,439.562500,4.187500,0.062500
Normal,319.173469,77.275510,73.469388,59.846939,55.816327,63.724490,71.551020,401.683673,3.051020,0.020408
Grass,344.871429,67.271429,73.214286,70.800000,77.500000,70.428571,61.928571,421.142857,3.357143,0.042857
Ice,423.541667,72.000000,72.750000,71.416667,77.541667,76.291667,63.458333,433.458333,3.541667,0.083333
Psychic,380.807018,70.631579,71.456140,67.684211,98.403509,86.280702,81.491228,475.947368,3.385965,0.245614
Bug,334.492754,56.884058,70.971014,70.724638,53.869565,64.797101,61.681159,378.927536,3.217391,0.000000
Electric,363.500000,59.795455,69.090909,66.295455,90.022727,73.704545,84.500000,443.409091,3.272727,0.090909
Fairy,449.529412,74.117647,61.529412,65.705882,78.529412,84.705882,48.588235,413.176471,4.117647,0.058824

In [71]:
## You can also count how many of something is in each column
## First, we'll add a new count column
new_df['count'] = 1

## Next, we'll use the count function to count how many there are in each column
new_df.groupby(['Type 1']).count()['count']

## This will give you the number of each type 1 there are in the df

Type 1
Bug          69
Dark         31
Dragon       32
Electric     44
Fairy        17
Fighting     27
Fire         52
Flying        4
Ghost        32
Grass        70
Ground       32
Ice          24
Normal       98
Poison       28
Psychic      57
Rock         44
Steel        27
Water       112
Name: count, dtype: int64

In [72]:
## You are also able to group by multiple parameters
new_df.groupby(['Type 1', 'Type 2']).count()['count']

Type 1  Type 2
Bug     Electric     2
        Fighting     2
        Fire         2
        Flying      14
        Ghost        1
                    ..
Water   Ice          3
        Poison       3
        Psychic      5
        Rock         4
        Steel        1
Name: count, Length: 136, dtype: int64

<font size="6">Working with large amounts of Data</font>

<font size="5">Loading in Chunks of Data at a time</font>

In [73]:
## Here's how to load in a certain amount of rows at a time (this example uses 5 rows)
for df in pd.read_csv('pokemon_data.csv', chunksize=5):
    print('CHUNK')
    print(df)

CHUNK
   #                   Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  \
0  1              Bulbasaur  Grass  Poison  45      49       49       65
1  2                Ivysaur  Grass  Poison  60      62       63       80
2  3               Venusaur  Grass  Poison  80      82       83      100
3  3  VenusaurMega Venusaur  Grass  Poison  80     100      123      122
4  4             Charmander   Fire     NaN  39      52       43       60

   Sp. Def  Speed  Generation  Legendary
0       65     45           1      False
1       80     60           1      False
2      100     80           1      False
3      120     80           1      False
4       50     65           1      False
CHUNK
   #                       Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  \
5  5                 Charmeleon   Fire     NaN  58      64       58       80
6  6                  Charizard   Fire  Flying  78      84       78      109
7  6  CharizardMega Charizard X   Fire  Dragon  78     130      111      130
8  6  CharizardMega Charizard Y   Fire  Flying  78     104       78      159
9  7                   Squirtle  Water     NaN  44      48       65       50

   Sp. Def  Speed  Generation  Legendary
5       65     80           1      False
6       85    100           1      False
7       85    100           1      False
8      115    100           1      False
9       64     43           1      False
CHUNK
     #                     Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  \
10   8                Wartortle  Water     NaN  59      63       80       65
11   9                Blastoise  Water     NaN  79      83      100       85
12   9  BlastoiseMega Blastoise  Water     NaN  79     103      120      135
13  10                 Caterpie    Bug     NaN  45      30       35       20
14  11                  Metapod    Bug     NaN  50      20       55       25

    Sp. Def  Speed  Generation  Legendary
10       80     58           1      False
11      105     78           1      False
12      115     78           1      False
13       20     45           1      False
14       25     30           1      False
CHUNK
     #                   Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  \
15  12             Butterfree    Bug  Flying  60      45       50       90
16  13                 Weedle    Bug  Poison  40      35       30       20
17  14                 Kakuna    Bug  Poison  45      25       50       25
18  15               Beedrill    Bug  Poison  65      90       40       45
19  15  BeedrillMega Beedrill    Bug  Poison  65     150       40       15

    Sp. Def  Speed  Generation  Legendary
15       80     70           1      False
16       20     50           1      False
17       25     35           1      False
18       80     75           1      False
19       80    145           1      False
CHUNK
     #                 Name  Type 1  Type 2  HP  Attack  Defense  Sp. Atk  \
20  16               Pidgey  Normal  Flying  40      45       40       35
21  17            Pidgeotto  Normal  Flying  63      60       55       50
22  18              Pidgeot  Normal  Flying  83      80       75       70
23  18  PidgeotMega Pidgeot  Normal  Flying  83      80       80      135
24  19              Rattata  Normal     NaN  30      56       35       25

    Sp. Def  Speed  Generation  Legendary
20       35     56           1      False
21       50     71           1      False
22       70    101           1      False
23       80    121           1      False
24       35     72           1      False
CHUNK
     #      Name  Type 1  Type 2  HP  Attack  Defense  Sp. Atk  Sp. Def  \
25  20  Raticate  Normal     NaN  55      81       60       50       70
26  21   Spearow  Normal  Flying  40      60       30       31       31
27  22    Fearow  Normal  Flying  65      90       65       61       61
28  23     Ekans  Poison     NaN  35      60       44       40       54
29  24     Arbok  Poison     NaN  60      85       69       65       79

    Speed  Generation  Legendary
25     97           1      False
26     70           1      False
27    100           1      False
28     55           1      False
29     80           1      False
CHUNK
     #              Name    Type 1  Type 2  HP  Attack  Defense  Sp. Atk  \
30  25           Pikachu  Electric     NaN  35      55       40       50
31  26            Raichu  Electric     NaN  60      90       55       90
32  27         Sandshrew    Ground     NaN  50      75       85       20
33  28         Sandslash    Ground     NaN  75     100      110       45
34  29  Nidoran (Female)    Poison     NaN  55      47       52       40

    Sp. Def  Speed  Generation  Legendary
30       50     90           1      False
31       80    110           1      False
32       30     40           1      False
33       55     65           1      False
34       40     41           1      False
CHUNK
     #            Name  Type 1  Type 2  HP  Attack  Defense  Sp. Atk  Sp. Def  \
35  30        Nidorina  Poison     NaN  70      62       67       55       55
36  31       Nidoqueen  Poison  Ground  90      92       87       75       85
37  32  Nidoran (Male)  Poison     NaN  46      57       40       40       40
38  33        Nidorino  Poison     NaN  61      72       57       55       55
39  34        Nidoking  Poison  Ground  81     102       77       85       75

    Speed  Generation  Legendary
35     56           1      False
36     76           1      False
37     50           1      False
38     65           1      False
39     85           1      False
CHUNK
     #        Name  Type 1 Type 2   HP  Attack  Defense  Sp. Atk  Sp. Def  \
40  35    Clefairy   Fairy    NaN   70      45       48       60       65
41  36    Clefable   Fairy    NaN   95      70       73       95       90
42  37      Vulpix    Fire    NaN   38      41       40       50       65
43  38   Ninetales    Fire    NaN   73      76       75       81      100
44  39  Jigglypuff  Normal  Fairy  115      45       20       45       25

    Speed  Generation  Legendary
40     35           1      False
41     60           1      False
42     65           1      False
43    100           1      False
44     20           1      False
CHUNK
     #        Name  Type 1  Type 2   HP  Attack  Defense  Sp. Atk  Sp. Def  \
45  40  Wigglytuff  Normal   Fairy  140      70       45       85       50
46  41       Zubat  Poison  Flying   40      45       35       30       40
47  42      Golbat  Poison  Flying   75      80       70       65       75
48  43      Oddish   Grass  Poison   45      50       55       75       65
49  44       Gloom   Grass  Poison   60      65       70       85       75

    Speed  Generation  Legendary
45     45           1      False
46     55           1      False
47     90           1      False
48     30           1      False
49     40           1      False
CHUNK
     #       Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  Sp. Def  \
50  45  Vileplume  Grass  Poison  75      80       85      110       90
51  46      Paras    Bug   Grass  35      70       55       45       55
52  47   Parasect    Bug   Grass  60      95       80       60       80
53  48    Venonat    Bug  Poison  60      55       50       40       55
54  49   Venomoth    Bug  Poison  70      65       60       90       75

    Speed  Generation  Legendary
50     50           1      False
51     25           1      False
52     30           1      False
53     45           1      False
54     90           1      False
CHUNK
     #     Name  Type 1  Type 2  HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  \
55  50  Diglett  Ground     NaN  10      55       25       35       45     95
56  51  Dugtrio  Ground     NaN  35      80       50       50       70    120
57  52   Meowth  Normal     NaN  40      45       35       40       40     90
58  53  Persian  Normal     NaN  65      70       60       65       65    115
59  54  Psyduck   Water     NaN  50      52       48       65       50     55

    Generation  Legendary
55           1      False
56           1      False
57           1      False
58           1      False
59           1      False
CHUNK
     #       Name    Type 1  Type 2  HP  Attack  Defense  Sp. Atk  Sp. Def  \
60  55    Golduck     Water     NaN  80      82       78       95       80
61  56     Mankey  Fighting     NaN  40      80       35       35       45
62  57   Primeape  Fighting     NaN  65     105       60       60       70
63  58  Growlithe      Fire     NaN  55      70       45       70       50
64  59   Arcanine      Fire     NaN  90     110       80      100       80

    Speed  Generation  Legendary
60     85           1      False
61     70           1      False
62     95           1      False
63     60           1      False
64     95           1      False
CHUNK
     #       Name   Type 1    Type 2  HP  Attack  Defense  Sp. Atk  Sp. Def  \
65  60    Poliwag    Water       NaN  40      50       40       40       40
66  61  Poliwhirl    Water       NaN  65      65       65       50       50
67  62  Poliwrath    Water  Fighting  90      95       95       70       90
68  63       Abra  Psychic       NaN  25      20       15      105       55
69  64    Kadabra  Psychic       NaN  40      35       30      120       70

    Speed  Generation  Legendary
65     90           1      False
66     90           1      False
67     70           1      False
68     90           1      False
69    105           1      False
CHUNK
     #                   Name    Type 1  Type 2  HP  Attack  Defense  Sp. Atk  \
70  65               Alakazam   Psychic     NaN  55      50       45      135
71  65  AlakazamMega Alakazam   Psychic     NaN  55      50       65      175
72  66                 Machop  Fighting     NaN  70      80       50       35
73  67                Machoke  Fighting     NaN  80     100       70       50
74  68                Machamp  Fighting     NaN  90     130       80       65

    Sp. Def  Speed  Generation  Legendary
70       95    120           1      False
71       95    150           1      False
72       35     35           1      False
73       60     45           1      False
74       85     55           1      False
CHUNK
     #        Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  Sp. Def  \
75  69  Bellsprout  Grass  Poison  50      75       35       70       30
76  70  Weepinbell  Grass  Poison  65      90       50       85       45
77  71  Victreebel  Grass  Poison  80     105       65      100       70
78  72   Tentacool  Water  Poison  40      40       35       50      100
79  73  Tentacruel  Water  Poison  80      70       65       80      120

    Speed  Generation  Legendary
75     40           1      False
76     55           1      False
77     70           1      False
78     70           1      False
79    100           1      False
CHUNK
     #      Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  \
80  74   Geodude   Rock  Ground  40      80      100       30       30     20
81  75  Graveler   Rock  Ground  55      95      115       45       45     35
82  76     Golem   Rock  Ground  80     120      130       55       65     45
83  77    Ponyta   Fire     NaN  50      85       55       65       65     90
84  78  Rapidash   Fire     NaN  65     100       70       80       80    105

    Generation  Legendary
80           1      False
81           1      False
82           1      False
83           1      False
84           1      False
CHUNK
     #                 Name    Type 1   Type 2  HP  Attack  Defense  Sp. Atk  \
85  79             Slowpoke     Water  Psychic  90      65       65       40
86  80              Slowbro     Water  Psychic  95      75      110      100
87  80  SlowbroMega Slowbro     Water  Psychic  95      75      180      130
88  81            Magnemite  Electric    Steel  25      35       70       95
89  82             Magneton  Electric    Steel  50      60       95      120

    Sp. Def  Speed  Generation  Legendary
85       40     15           1      False
86       80     30           1      False
87       80     30           1      False
88       55     45           1      False
89       70     70           1      False
CHUNK
     #        Name  Type 1  Type 2  HP  Attack  Defense  Sp. Atk  Sp. Def  \
90  83  Farfetch'd  Normal  Flying  52      65       55       58       62
91  84       Doduo  Normal  Flying  35      85       45       35       35
92  85      Dodrio  Normal  Flying  60     110       70       60       60
93  86        Seel   Water     NaN  65      45       55       45       70
94  87     Dewgong   Water     Ice  90      70       80       70       95

    Speed  Generation  Legendary
90     60           1      False
91     75           1      False
92    100           1      False
93     45           1      False
94     70           1      False
CHUNK
     #      Name  Type 1  Type 2   HP  Attack  Defense  Sp. Atk  Sp. Def  \
95  88    Grimer  Poison     NaN   80      80       50       40       50
96  89       Muk  Poison     NaN  105     105       75       65      100
97  90  Shellder   Water     NaN   30      65      100       45       25
98  91  Cloyster   Water     Ice   50      95      180       85       45
99  92    Gastly   Ghost  Poison   30      35       30      100       35

    Speed  Generation  Legendary
95     25           1      False
96     50           1      False
97     40           1      False
98     70           1      False
99     80           1      False
CHUNK
      #               Name   Type 1  Type 2  HP  Attack  Defense  Sp. Atk  \
100  93            Haunter    Ghost  Poison  45      50       45      115
101  94             Gengar    Ghost  Poison  60      65       60      130
102  94  GengarMega Gengar    Ghost  Poison  60      65       80      170
103  95               Onix     Rock  Ground  35      45      160       30
104  96            Drowzee  Psychic     NaN  60      48       45       43

     Sp. Def  Speed  Generation  Legendary
100       55     95           1      False
101       75    110           1      False
102       95    130           1      False
103       45     70           1      False
104       90     42           1      False
CHUNK
       #       Name    Type 1  Type 2  HP  Attack  Defense  Sp. Atk  Sp. Def  \
105   97      Hypno   Psychic     NaN  85      73       70       73      115
106   98     Krabby     Water     NaN  30     105       90       25       25
107   99    Kingler     Water     NaN  55     130      115       50       50
108  100    Voltorb  Electric     NaN  40      30       50       55       55
109  101  Electrode  Electric     NaN  60      50       70       80       80

     Speed  Generation  Legendary
105     67           1      False
106     50           1      False
107     75           1      False
108    100           1      False
109    140           1      False
CHUNK
       #       Name    Type 1   Type 2  HP  Attack  Defense  Sp. Atk  Sp. Def  \
110  102  Exeggcute     Grass  Psychic  60      40       80       60       45
111  103  Exeggutor     Grass  Psychic  95      95       85      125       65
112  104     Cubone    Ground      NaN  50      50       95       40       50
113  105    Marowak    Ground      NaN  60      80      110       50       80
114  106  Hitmonlee  Fighting      NaN  50     120       53       35      110

     Speed  Generation  Legendary
110     40           1      False
111     55           1      False
112     35           1      False
113     45           1      False
114     87           1      False
CHUNK
       #        Name    Type 1 Type 2  HP  Attack  Defense  Sp. Atk  Sp. Def  \
115  107  Hitmonchan  Fighting    NaN  50     105       79       35      110
116  108   Lickitung    Normal    NaN  90      55       75       60       75
117  109     Koffing    Poison    NaN  40      65       95       60       45
118  110     Weezing    Poison    NaN  65      90      120       85       70
119  111     Rhyhorn    Ground   Rock  80      85       95       30       30

     Speed  Generation  Legendary
115     76           1      False
116     30           1      False
117     35           1      False
118     60           1      False
119     25           1      False
CHUNK
       #                       Name  Type 1 Type 2   HP  Attack  Defense  \
120  112                     Rhydon  Ground   Rock  105     130      120
121  113                    Chansey  Normal    NaN  250       5        5
122  114                    Tangela   Grass    NaN   65      55      115
123  115                 Kangaskhan  Normal    NaN  105      95       80
124  115  KangaskhanMega Kangaskhan  Normal    NaN  105     125      100

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
120       45       45     40           1      False
121       35      105     50           1      False
122      100       40     60           1      False
123       40       80     90           1      False
124       60      100    100           1      False
CHUNK
       #     Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  Sp. Def  \
125  116   Horsea  Water     NaN  30      40       70       70       25
126  117   Seadra  Water     NaN  55      65       95       95       45
127  118  Goldeen  Water     NaN  45      67       60       35       50
128  119  Seaking  Water     NaN  80      92       65       65       80
129  120   Staryu  Water     NaN  30      45       55       70       55

     Speed  Generation  Legendary
125     60           1      False
126     85           1      False
127     63           1      False
128     68           1      False
129     85           1      False
CHUNK
       #        Name    Type 1   Type 2  HP  Attack  Defense  Sp. Atk  \
130  121     Starmie     Water  Psychic  60      75       85      100
131  122    Mr. Mime   Psychic    Fairy  40      45       65      100
132  123     Scyther       Bug   Flying  70     110       80       55
133  124        Jynx       Ice  Psychic  65      50       35      115
134  125  Electabuzz  Electric      NaN  65      83       57       95

     Sp. Def  Speed  Generation  Legendary
130       85    115           1      False
131      120     90           1      False
132       80    105           1      False
133       95     95           1      False
134       85    105           1      False
CHUNK
       #               Name  Type 1  Type 2  HP  Attack  Defense  Sp. Atk  \
135  126             Magmar    Fire     NaN  65      95       57      100
136  127             Pinsir     Bug     NaN  65     125      100       55
137  127  PinsirMega Pinsir     Bug  Flying  65     155      120       65
138  128             Tauros  Normal     NaN  75     100       95       40
139  129           Magikarp   Water     NaN  20      10       55       15

     Sp. Def  Speed  Generation  Legendary
135       85     93           1      False
136       70     85           1      False
137       90    105           1      False
138       70    110           1      False
139       20     80           1      False
CHUNK
       #                   Name  Type 1  Type 2   HP  Attack  Defense  \
140  130               Gyarados   Water  Flying   95     125       79
141  130  GyaradosMega Gyarados   Water    Dark   95     155      109
142  131                 Lapras   Water     Ice  130      85       80
143  132                  Ditto  Normal     NaN   48      48       48
144  133                  Eevee  Normal     NaN   55      55       50

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
140       60      100     81           1      False
141       70      130     81           1      False
142       85       95     60           1      False
143       48       48     48           1      False
144       45       65     55           1      False
CHUNK
       #      Name    Type 1 Type 2   HP  Attack  Defense  Sp. Atk  Sp. Def  \
145  134  Vaporeon     Water    NaN  130      65       60      110       95