## Restore Data Searching

3 for 50 dollars csv
Find clients that bought 3 packs of core services at 50 dollars

Credit balance
See who is running low on credits and get a list of their emails

Take out all MB Migration

In [11]:
## Let's import necessary libraries and datasets
import pandas as pd

df_3_for_50 = pd.read_csv('restore_3_for_50_data.csv')
df_core = pd.read_csv('balance_core_services.csv')
df_medical = pd.read_csv('balance_medical_services.csv')
df_skin = pd.read_csv('balance_skin_services.csv')

## 3 for $50

In [12]:
## Check what the data set looks like by getting the first 5 rows
df_3_for_50.head(5)

,Studio Code,Purchase Date,Invoice ID,Client ID,First Name,Last Name,Email,Phone #,Therapy Category,Business Category,Item,Sales Rep,Autopay Status,Quantity,Tax Amount,Discount,Credit Used,Unnamed: 17
0,FL005,11/27/2023,31453168,443950,Cristina,Chavarria,cchavarria1224@gmail.com,3053038233,Memberships,Membership,Discover Membership,NaN,Success,1,$0.00,$0.00,0,$119.00
1,FL005,11/27/2023,31453169,671156,Teresa,Seda,teresa.seda@walgreens.com,7876616297,Memberships,Membership,Discover Membership,NaN,Success,1,$0.00,$0.00,0,$119.00
2,FL005,11/27/2023,31453170,280027,Melanie,Hunter,melanieannhunter@gmail.com,7735319169,Memberships,Membership,Wellness Membership - Couples,NaN,Success,1,$0.00,$0.00,0,$169.00
3,FL005,11/27/2023,31453171,754675,Jessica,Rummel,jessicarummel@hotmail.com,3054585484,Memberships,Membership,Discover Membership,NaN,Success,1,$0.00,$0.00,0,$119.00
4,FL005,11/27/2023,31453172,27512,Humberto,Gil,humbertogil64@hotmail.com,7868993347,Memberships,Membership,Discover Membership,NaN,Success,1,$0.00,$0.00,0,$119.00

In [14]:
## I immediately see some columns that meant nothing to me so let's get rid of them
## We'll also give it a new name
new_df_3_for_50 = df_3_for_50.drop(columns=['Studio Code', 'Purchase Date', 'Invoice ID', 'Client ID', 'Therapy Category', 'Business Category', 'Sales Rep', 'Autopay Status', 'Tax Amount', 'Discount', 'Quantity', 'Credit Used'])

In [15]:
## I also don't know why the name of the last column is that so let's change it
new_df_3_for_50.rename(columns={"Unnamed: 17": "Total"})

,First Name,Last Name,Email,Phone #,Item,Total
0,Cristina,Chavarria,cchavarria1224@gmail.com,3053038233,Discover Membership,$119.00
1,Teresa,Seda,teresa.seda@walgreens.com,7876616297,Discover Membership,$119.00
2,Melanie,Hunter,melanieannhunter@gmail.com,7735319169,Wellness Membership - Couples,$169.00
3,Jessica,Rummel,jessicarummel@hotmail.com,3054585484,Discover Membership,$119.00
4,Humberto,Gil,humbertogil64@hotmail.com,7868993347,Discover Membership,$119.00
...,...,...,...,...,...,...
1783,Kennedy,Martinez,kennedymartinez01@gmail.com,7862140977,WBC,$0.00
1784,Jennifer,Acosta,jennie2903@gmail.com,3054097240,Base IV Drip,$0.00
1785,Jennifer,Acosta,jennie2903@gmail.com,3054097240,Trace Elements,$0.00
1786,Barbara,Corton,barbaracorton@yahoo.com,7738058590,mHbOT | 90 min,$0.00
1787,Total,Total,Total,Total,Total,"$90,732.60"

In [ ]:
## Let's grab the all the 3 Pack of Core Service
df_3_for_50.loc[(df_3_for_50['Item'] == 'Core Service | 3 Pack')]

In [ ]:
## As you can see, some of the purchases aren't $50. Let's filter that
df_3_for_50.loc[(df_3_for_50['Item'] == 'Core Service | 3 Pack') & (df_3_for_50['Total'] == '$50.00')]

In [ ]:
## Since they will be sending texts, lets get a list of names and numbers
## First, we'll give them some new indexes
df_3_for_50.reset_index()

## Printing
df_3_for_50