## Restore Data Searching

3 for 50 dollars csv
Find clients that bought 3 packs of core services at 50 dollars

Credit balance
See who is running low on credits and get a list of their emails

Take out all MB Migration

In [105]:
## Let's import necessary libraries and datasets
import pandas as pd

df_3_for_50 = pd.read_csv('restore_3_for_50_data.csv')
df_core = pd.read_csv('balance_core_services.csv')
df_medical = pd.read_csv('balance_medical_services.csv')
df_skin = pd.read_csv('balance_skin_services.csv')

## 3 for $50

<font size="5">We are tasked with getting all the people who purchased a 3 for $50 deal in the past month</font>

<font size="5">We were given all of the transactions in the last month</font>

In [106]:
## Check what the data set looks like by getting the first 5 rows
df_3_for_50.head(5)

,Studio Code,Purchase Date,Invoice ID,Client ID,First Name,Last Name,Email,Phone #,Therapy Category,Business Category,Item,Sales Rep,Autopay Status,Quantity,Tax Amount,Discount,Credit Used,Unnamed: 17
0,FL005,11/27/2023,31453168,443950,Cristina,Chavarria,cchavarria1224@gmail.com,3053038233,Memberships,Membership,Discover Membership,NaN,Success,1,$0.00,$0.00,0,$119.00
1,FL005,11/27/2023,31453169,671156,Teresa,Seda,teresa.seda@walgreens.com,7876616297,Memberships,Membership,Discover Membership,NaN,Success,1,$0.00,$0.00,0,$119.00
2,FL005,11/27/2023,31453170,280027,Melanie,Hunter,melanieannhunter@gmail.com,7735319169,Memberships,Membership,Wellness Membership - Couples,NaN,Success,1,$0.00,$0.00,0,$169.00
3,FL005,11/27/2023,31453171,754675,Jessica,Rummel,jessicarummel@hotmail.com,3054585484,Memberships,Membership,Discover Membership,NaN,Success,1,$0.00,$0.00,0,$119.00
4,FL005,11/27/2023,31453172,27512,Humberto,Gil,humbertogil64@hotmail.com,7868993347,Memberships,Membership,Discover Membership,NaN,Success,1,$0.00,$0.00,0,$119.00

<font size="5">Cleaning the data</font>

In [107]:
## I immediately see some columns that meant nothing to me so let's get rid of them
## We'll also give it a new name
df_3_for_50 = df_3_for_50.drop(columns=['Studio Code', 'Purchase Date', 'Invoice ID', 'Client ID', 'Therapy Category', 'Business Category', 'Sales Rep', 'Autopay Status', 'Tax Amount', 'Discount', 'Quantity', 'Credit Used'])

In [108]:
## I also don't know why the name of the last column is that so let's change it
df_3_for_50 = df_3_for_50.rename(columns={"Unnamed: 17": "Total"})

In [109]:
## Let's grab the all the 3 Pack of Core Service
df_3_for_50.loc[(df_3_for_50['Item'] == 'Core Service | 3 Pack')]

,First Name,Last Name,Email,Phone #,Item,Total
36,Nikki,Perez,misslashawn1@yahoo.com,7866005444,Core Service | 3 Pack,$50.00
52,Luis,Peraza,goldenfence305@gmail.com,3055251616,Core Service | 3 Pack,$50.00
116,Bella,Rozay,rosemomey2021@icloud.com,7866659820,Core Service | 3 Pack,$50.00
156,Olivia,Cajigas,olivia@oec-consulting.com,3059650425,Core Service | 3 Pack,$50.00
281,Alexis,Ferro,alexisferro1128@gmail.com,3057330441,Core Service | 3 Pack,$50.00
283,Jose,Ferrro,jmf1128@gmail.com,3052826372,Core Service | 3 Pack,$50.00
298,Claudette,Casal,claudettecasal@att.net,3056063685,Core Service | 3 Pack,$50.00
330,Christina,Xiques,cxgravier@aol.com,3052990750,Core Service | 3 Pack,$50.00
361,Christian,Hollant,christianhollant@yahoo.com,3057834767,Core Service | 3 Pack,$50.00
383,Jennifer,Kanold,jenkanold@mac.com,7866507701,Core Service | 3 Pack,$50.00
460,Aileen,Permuy,aspermuy@hotmail.com,7863516816,Core Service | 3 Pack,$50.00
468,David,Bratt,daveinthesouth@gmail.com,7866266537,Core Service | 3 Pack,$50.00
477,Rigoberto,Valverde,rigoberto_valverde@yahoo.com,7869260546,Core Service | 3 Pack,$50.00
540,Abigail,Pereira,lala031782@yahoo.com,3054841851,Core Service | 3 Pack,$50.00
636,Natalie,Llopis,natllo202@gmail.com,3059019723,Core Service | 3 Pack,$50.00
650,Farris,Abusad,farrisabusad1@gmail.com,7863879295,Core Service | 3 Pack,$50.00
690,Marianna,Dubinsky,nouvellehomemiami@gmail.com,7866064445,Core Service | 3 Pack,$50.00
700,Alice,Mendes,alicemendesfit@gmail.com,2039217993,Core Service | 3 Pack,$50.00
712,Randi,Rosenberg,dandi1978@aol.com,3055276529,Core Service | 3 Pack,$50.00
773,Rene,Ramirez,kingsluggers@gmail.com,7863467162,Core Service | 3 Pack,$50.00
801,Iraida,Garcia,advancedliens@bellsouth.net,3052447536,Core Service | 3 Pack,$50.00
850,Brigitte,Valdera,cestrada0225@gmail.com,3057538703,Core Service | 3 Pack,$50.00
854,Hannah,Hartley,hlhartley1@gmail.com,3052979110,Core Service | 3 Pack,$50.00
863,Traci,Cole,leidback@comcast.net,3037968838,Core Service | 3 Pack,$50.00
876,Alain,Piloto-Rios,aprios79@yahoo.es,5024359577,Core Service | 3 Pack,$50.00
943,Charlotte,De Paula,turleyjewelers@yahoo.com,3058019051,Core Service | 3 Pack,$50.00
955,Andres,Rodriguez,iortiz@universalelite.com,7862710654,Core Service | 3 Pack,$50.00
1014,Ryan,Rangel,ryanrangel0622@gmail.com,7865475579,Core Service | 3 Pack,$50.00
1053,Ines,Mamder,neshinava@bellsouth.new,3058981552,Core Service | 3 Pack,$50.00
1072,Struan,Mckenize,jennyjmarkham@gmail.com,3059033358,Core Service | 3 Pack,$50.00
1219,Marchetti,Anthoney,suem-21401@yahoo.com,4108049688,Core Service | 3 Pack,$50.00
1285,Victor,Calvo,victorcalvomd@gmail.com,3059922129,Core Service | 3 Pack,$50.00
1288,Zyad,Wright,zyadwright@gmail.com,7868518598,Core Service | 3 Pack,$50.00
1314,Christian,Bridges,christianbridges@yahoo.com,7862986914,Core Service | 3 Pack,$50.00
1316,Jennifer,Linares,linares_jennifer@hotmail.com,3053890464,Core Service | 3 Pack,$117.60
1338,Iraida,Garcia,advancedliens@bellsouth.net,3052447536,Core Service | 3 Pack,$50.00
1362,Stephanie,Parra,sparr007@fiu.edu,7869161161,Core Service | 3 Pack,$50.00
1476,Jaclyn,Buckreis,jaclyn.buckreis@gmail.com,7039407718,Core Service | 3 Pack,$50.00
1516,Gina,Fiallo,cyfi45@gmail.com,3057903863,Core Service | 3 Pack,$50.00
1524,Santiago,Burgos,santiago23burgos@hotmail.com,7863283157,Core Service | 3 Pack,$50.00
1525,Monica,Zabian,monasoccer18@hotmail.com,7866606710,Core Service | 3 Pack,$50.00
1541,Levar,Walker,lwfamily2457@gmail.com,7865212539,Core Service | 3 Pack,$100.00
1569,Melanie,Kayser,maohara@comcast.net,2022509865,Core Service | 3 Pack,$50.00
1574,Yanisset,Urra,yanisset@yahoo.com,7868180630,Core Service | 3 Pack,$50.00
1582,Yanisset,Urra,yanisset@yahoo.com,7868180630,Core Service | 3 Pack,$100.00
1670,Belkis,Kern,belkiskern.realtor@gmail.com,7863682973,Core Service | 3 Pack,$50.00
1763,Davis,Marchus,davismarchus@outlook.com,3057102128,Core Service | 3 Pack,$50.00

In [110]:
## As you can see, some of the purchases aren't $50. Let's filter that and alter the original dataset by setting it to a new variable (with the same name)
df_3_for_50 = df_3_for_50.loc[(df_3_for_50['Item'] == 'Core Service | 3 Pack') & (df_3_for_50['Total'] == '$50.00')]

## Making the data Actionable

In [114]:
## Since they will be sending texts, lets get a list of names and numbers
## First, we'll give them some new indexes
## We'll also alter the original dataset by setting it to a new variable (again, with the same name)
df_3_for_50 = df_3_for_50.reset_index()

## Printing
df_3_for_50.head(10)

,index,First Name,Last Name,Email,Phone #,Item,Total
0,0,Nikki,Perez,misslashawn1@yahoo.com,7866005444,Core Service | 3 Pack,$50.00
1,1,Luis,Peraza,goldenfence305@gmail.com,3055251616,Core Service | 3 Pack,$50.00
2,2,Bella,Rozay,rosemomey2021@icloud.com,7866659820,Core Service | 3 Pack,$50.00
3,3,Olivia,Cajigas,olivia@oec-consulting.com,3059650425,Core Service | 3 Pack,$50.00
4,4,Alexis,Ferro,alexisferro1128@gmail.com,3057330441,Core Service | 3 Pack,$50.00
5,5,Jose,Ferrro,jmf1128@gmail.com,3052826372,Core Service | 3 Pack,$50.00
6,6,Claudette,Casal,claudettecasal@att.net,3056063685,Core Service | 3 Pack,$50.00
7,7,Christina,Xiques,cxgravier@aol.com,3052990750,Core Service | 3 Pack,$50.00
8,8,Christian,Hollant,christianhollant@yahoo.com,3057834767,Core Service | 3 Pack,$50.00
9,9,Jennifer,Kanold,jenkanold@mac.com,7866507701,Core Service | 3 Pack,$50.00

In [115]:
## Now we can get rid of the new index column as it is not needed
df_3_for_50 = df_3_for_50.drop(columns=['index'])

## Printing
df_3_for_50.head(10)

,First Name,Last Name,Email,Phone #,Item,Total
0,Nikki,Perez,misslashawn1@yahoo.com,7866005444,Core Service | 3 Pack,$50.00
1,Luis,Peraza,goldenfence305@gmail.com,3055251616,Core Service | 3 Pack,$50.00
2,Bella,Rozay,rosemomey2021@icloud.com,7866659820,Core Service | 3 Pack,$50.00
3,Olivia,Cajigas,olivia@oec-consulting.com,3059650425,Core Service | 3 Pack,$50.00
4,Alexis,Ferro,alexisferro1128@gmail.com,3057330441,Core Service | 3 Pack,$50.00
5,Jose,Ferrro,jmf1128@gmail.com,3052826372,Core Service | 3 Pack,$50.00
6,Claudette,Casal,claudettecasal@att.net,3056063685,Core Service | 3 Pack,$50.00
7,Christina,Xiques,cxgravier@aol.com,3052990750,Core Service | 3 Pack,$50.00
8,Christian,Hollant,christianhollant@yahoo.com,3057834767,Core Service | 3 Pack,$50.00
9,Jennifer,Kanold,jenkanold@mac.com,7866507701,Core Service | 3 Pack,$50.00

In [116]:
## Knowing that texts will be sent, let's get some first names and phone numbers and put it in a list
## The names of the columns must together for this to work so let's do that first
df_3_for_50 = df_3_for_50.rename(columns={"First Name": "first_name"})
df_3_for_50 = df_3_for_50.rename(columns={"Phone #": "number"})
df_3_for_50 = df_3_for_50.rename(columns={"Last Name": "last_name"})

<font size="5">Making the list</font>

In [117]:
## Next, let's make a list
text_list = []

## Then we'll write what we want in the list
for index, rows in df_3_for_50.iterrows():
    my_list = [rows.first_name, rows.last_name, rows.number]
    text_list.append(my_list)

## Finally, we'll print out the list
print(text_list)

[['Nikki', 'Perez', '7866005444'], ['Luis', 'Peraza', '3055251616'], ['Bella', 'Rozay', '7866659820'], ['Olivia', 'Cajigas', '3059650425'], ['Alexis', 'Ferro', '3057330441'], ['Jose', 'Ferrro', '3052826372'], ['Claudette', 'Casal', '3056063685'], ['Christina', 'Xiques', '3052990750'], ['Christian', 'Hollant', '3057834767'], ['Jennifer', 'Kanold', '7866507701'], ['Aileen', 'Permuy', '7863516816'], ['David', 'Bratt', '7866266537'], ['Rigoberto', 'Valverde', '7869260546'], ['Abigail', 'Pereira', '3054841851'], ['Natalie', 'Llopis', '3059019723'], ['Farris', 'Abusad', '7863879295'], ['Marianna', 'Dubinsky', '7866064445'], ['Alice', 'Mendes', '2039217993'], ['Randi', 'Rosenberg', '3055276529'], ['Rene', 'Ramirez', '7863467162'], ['Iraida', 'Garcia', '3052447536'], ['Brigitte', 'Valdera', '3057538703'], ['Hannah', 'Hartley', '3052979110'], ['Traci', 'Cole', '3037968838'], ['Alain', 'Piloto-Rios', '5024359577'], ['Charlotte', 'De Paula', '3058019051'], ['Andres', 'Rodriguez', '7862710654'], ['Ryan', 'Rangel', '7865475579'], ['Ines', 'Mamder', '3058981552'], ['Struan', 'Mckenize', '3059033358'], ['Marchetti', 'Anthoney', '4108049688'], ['Victor', 'Calvo', '3059922129'], ['Zyad', 'Wright', '7868518598'], ['Christian', 'Bridges', '7862986914'], ['Iraida', 'Garcia', '3052447536'], ['Stephanie', 'Parra', '7869161161'], ['Jaclyn', 'Buckreis', '7039407718'], ['Gina', 'Fiallo', '3057903863'], ['Santiago', 'Burgos', '7863283157'], ['Monica', 'Zabian', '7866606710'], ['Melanie', 'Kayser', '2022509865'], ['Yanisset', 'Urra', '7868180630'], ['Belkis', 'Kern', '7863682973'], ['Davis', 'Marchus', '3057102128']]

In [118]:
## The last thing we have to do is create a data frame with all the names and numbers that corospond with this 3 for $50 deal
final_text_list = pd.DataFrame(text_list, columns=['first_name', 'last_name', 'phone_number'])

## Printing
final_text_list.head(10)

  first_name last_name phone_number
0      Nikki     Perez   7866005444
1       Luis    Peraza   3055251616
2      Bella     Rozay   7866659820
3     Olivia   Cajigas   3059650425
4     Alexis     Ferro   3057330441
5       Jose    Ferrro   3052826372
6  Claudette     Casal   3056063685
7  Christina    Xiques   3052990750
8  Christian   Hollant   3057834767
9   Jennifer    Kanold   7866507701

<font size="5">Exporting the data</font>

In [ ]:
## Now we can save this to an excel sheet so it is easily accessable to the team
final_text_list.to_excel("3_for_50_list.xlsx")

## Medical Credit Balance

<font size="5">Reading Medical Credit Balance</font>

In [128]:
## Let's get ready to work on the medical credit balance
## First, we'll load the data again and look at it
df_medical = pd.read_csv('balance_medical_services.csv')

## Printing
df_medical.head(5)

,Studio Name,Day of Issue Date,Day of Expire Date,Client ID,Full Name,Email,Phone #,Credit Description,Remaining Credits,Max date
0,"Pinecrest, FL","November 21, 2023","February 29, 2024",969062,Greg - Solano,greg.solano@gmail.com,3054317251,10 Ingredient Bundle,6,12/20/2023
1,"Pinecrest, FL","December 1, 2023","March 10, 2024",840386,Billy - Zanski,info@skinnybeatsdrums.com,8287682826,10 Ingredient Bundle,10,12/20/2023
2,"Pinecrest, FL","December 20, 2023","March 29, 2024",969062,Greg - Solano,greg.solano@gmail.com,3054317251,10 Ingredient Bundle,10,12/20/2023
3,"Pinecrest, FL","July 8, 2023","January 24, 2024",926215,Donny - Tse,donnychiang888@gmail.com,9173740964,100 Ingredient Bundle,41,12/20/2023
4,"Pinecrest, FL","August 23, 2023","March 10, 2024",231125,David - Adler,dadler@adlergroup.com,3055629241,100 Ingredient Bundle,89,12/20/2023

In [129]:
## Again, we can get rid of columns that we dont need
df_medical = df_medical.drop(columns=['Studio Name', 'Day of Issue Date', 'Day of Expire Date', 'Client ID', 'Email', 'Max date'])

## Printing
df_medical.head(5)

        Full Name     Phone #     Credit Description  Remaining Credits
0   Greg - Solano  3054317251   10 Ingredient Bundle                  6
1  Billy - Zanski  8287682826   10 Ingredient Bundle                 10
2   Greg - Solano  3054317251   10 Ingredient Bundle                 10
3     Donny - Tse  9173740964  100 Ingredient Bundle                 41
4   David - Adler  3055629241  100 Ingredient Bundle                 89

In [130]:
## We were told to reach out to those that have 60% utilization of their pack
## To start, We're going to have to extract the integers from the credit description because our tech team messed up
## To do this we'll use the reg ex library
import re

## Let's make a new column and populate it with the integers
df_medical['initial_credits'] = df_medical['Credit Description'].astype(str).str.extract(r'(\d+)', expand=False)

## Printing
df_medical.head(5)

,Full Name,Phone #,Credit Description,Remaining Credits,initial_credits
0,Greg - Solano,3054317251,10 Ingredient Bundle,6,10
1,Billy - Zanski,8287682826,10 Ingredient Bundle,10,10
2,Greg - Solano,3054317251,10 Ingredient Bundle,10,10
3,Donny - Tse,9173740964,100 Ingredient Bundle,41,100
4,David - Adler,3055629241,100 Ingredient Bundle,89,100

In [131]:
## As mentioned before, we are trying to the ones who have 60% utilization of their packs
## We'll make a list first so we can make a dataframe out of it later
medical_pack_list = []

## The names of the table also have to be changed so it is all connected
df_medical = df_medical.rename(columns={'Full Name': 'full_name'})
df_medical = df_medical.rename(columns={'Phone #': 'phone'})
df_medical = df_medical.rename(columns={'Credit Description': 'credit_description'})
df_medical = df_medical.rename(columns={'Remaining Credits': 'remaining_credits'})

## Printing
df_medical

,full_name,phone,credit_description,remaining_credits,initial_credits
0,Greg - Solano,3054317251,10 Ingredient Bundle,6,10
1,Billy - Zanski,8287682826,10 Ingredient Bundle,10,10
2,Greg - Solano,3054317251,10 Ingredient Bundle,10,10
3,Donny - Tse,9173740964,100 Ingredient Bundle,41,100
4,David - Adler,3055629241,100 Ingredient Bundle,89,100
5,Amanda - Fuentes,3053056025,30 Ingredient Bundle,19,30
6,Mario - Finamore,7866815056,30 Ingredient Bundle,20,30
7,Lissette - Aguila,7862952181,30 Ingredient Bundle,10,30
8,Marc - Anderson,9084163153,30 Ingredient Bundle,30,30
9,Megan - Hamann,8594217809,30 Ingredient Bundle,28,30

In [132]:
## There are going to be some decrepencies with this because some of the data from the 'Remainind Credits' column might not have numbers
## Because of that, I'm going to go ahead and get rid of them as they will mess up the calculations
df_medical = df_medical.dropna()

## Printing
df_medical

## As you'll see, we went from 105 rows to 94

,full_name,phone,credit_description,remaining_credits,initial_credits
0,Greg - Solano,3054317251,10 Ingredient Bundle,6,10
1,Billy - Zanski,8287682826,10 Ingredient Bundle,10,10
2,Greg - Solano,3054317251,10 Ingredient Bundle,10,10
3,Donny - Tse,9173740964,100 Ingredient Bundle,41,100
4,David - Adler,3055629241,100 Ingredient Bundle,89,100
...,...,...,...,...,...
100,Ingrid - Jimenez,7863696463,Signature IM Shot | 5 Pack,1,5
101,Beth - Erickson,3152866384,Signature IM Shot | 5 Pack,3,5
102,Manny - Ramirez,3059651626,Signature IM Shot | 5 Pack,5,5
103,Janet - Onate,9172911469,Signature IM Shot | 5 Pack,1,5
104,Christina - Xiques,3052990750,Signature IM Shot | 5 Pack,5,5

In [133]:
## Checking types
df_medical.dtypes

full_name             object
phone                  int64
credit_description    object
remaining_credits      int64
initial_credits       object
dtype: object

In [135]:
## As you can see the 'initial_credits' column is an object. We need it to be an int to perform calculations
## To do that, we need to convert it to a string first, then we can make it an int
df_medical['initial_credits'] = df_medical['initial_credits'].astype(str).astype(int)

## Checking type now
df_medical.dtypes

full_name             object
phone                  int64
credit_description    object
remaining_credits      int64
initial_credits        int32
dtype: object

In [137]:
df_medical.head(70)

,full_name,phone,credit_description,remaining_credits,initial_credits
0,Greg - Solano,3054317251,10 Ingredient Bundle,6,10
1,Billy - Zanski,8287682826,10 Ingredient Bundle,10,10
2,Greg - Solano,3054317251,10 Ingredient Bundle,10,10
3,Donny - Tse,9173740964,100 Ingredient Bundle,41,100
4,David - Adler,3055629241,100 Ingredient Bundle,89,100
...,...,...,...,...,...
74,David - Pouliot,3057977133,NAD+ IV Drip Therapy 750mg | 4 Pack,3,750
75,Kristina - Cabrera,7868592273,NAD+ IV Drip Therapy 750mg | 4 Pack,4,750
76,Susana - Lay,7863658685,NAD+ IV Drip Therapy 750mg | 4 Pack,4,750
77,Brendon - Brewster,2157407883,NAD+ IV Drip Therapy 750mg Credit,1,750
78,Neli - Lessee,3054500725,NAD+ IV Drip Therapy 750mg Credit,1,750

In [126]:
## As mentioned before, we are trying to the ones who have 60% utilization of their packs
## We'll make a list first so we can make a dataframe out of it later
medical_pack_list = []

## Now we can do some calculating
## The .iterrows() function allows you to iterate through rows in a pandas datafram
## We must make sure that we are working with integars when performing calculations
for index, row in df_medical.iterrows():
    value = int(row['remaining_credits'])
    total = int(row['initial_credits'])
    calculated_percentage = (value / total) * 100
    if calculated_percentage < 60:
        my_list = [row.full_name, row.phone, row.credit_description, row.remaining_credits]
        medical_pack_list.append(my_list)

## As you see, we also put what Packaged they purchased as well as how many they have remaining
## Let's print the list to check if it worked
medical_pack_list

[['Donny - Tse', 9173740964, '100 Ingredient Bundle', 41],
 ['Lissette - Aguila', 7862952181, '30 Ingredient Bundle', 10],
 ['David - Pouliot', 3057977133, '50 Ingredient Bundle', 27],
 ['David - Walsh', 8476443433, '50 Ingredient Bundle', 27],
 ['Lindsey - Wolfson', 3055828891, 'Base IV Drip | 3 Pack', 1],
 ['Amanda - Fuentes',
  3053056025,
  'High Dose Glutathione 1200mg | 10 Pack',
  10],
 ['Vilma - Cabrera', 3058014572, 'High Dose Glutathione 1200mg | 10 Pack', 5],
 ['Dacil - Espinosa', 7862094695, 'High Dose Glutathione 1200mg | 3 Pack', 2],
 ['Amanda - Fuentes', 3053056025, 'High Dose Vitamin C 20g | 10 Pack', 8],
 ['Amanda - Fuentes', 3053056025, 'High Dose Vitamin C 20g | 10 Pack', 10],
 ['Vilma - Cabrera', 3058014572, 'High Dose Vitamin C 30g | 10 Pack', 5],
 ['Adela - Pinilla', 7862605574, 'mHbOT | 60 min | 10 Pack', 7],
 ['Elizabeth - Heise', 3054316016, 'mHbOT | 60 min | 10 Pack', 5],
 ['Monika - Tefel', 7865020010, 'mHbOT | 60 min | 10 Pack', 3],
 ['Sara - Lowrey', 3059043182, 'mHbOT | 60 min | 10 Pack', 7],
 ['Nancy - Naranjo', 4804947198, 'mHbOT | 60 min | 10 Pack', 4],
 ['Juan - Anillo', 7864738195, 'mHbOT | 60 min | 10 Pack', 2],
 ['Megan - Hamann', 8594217809, 'mHbOT | 60 min | 10 Pack', 10],
 ['Iris - Suarez', 3053455577, 'mHbOT | 60 min | 10 Pack', 20],
 ['Roberto - Campillo', 3523284101, 'mHbOT | 60 min | 10 Pack', 2],
 ['Sophia - Rodriguez Ruso', 3054317479, 'mHbOT | 60 min | 10 Pack', 4],
 ['Pablo - Landi', 7862867912, 'mHbOT | 60 min | 10 Pack', 9],
 ['Malena - Gomez', 3053037513, 'mHbOT | 60 min | 3 Pack', 2],
 ['Madeleine - Palmer', 4379229555, 'mHbOT | 60 min | 3 Pack', 1],
 ['Bianca - Mendoza', 3057103236, 'mHbOT | 60 min | 3 Pack', 2],
 ['Amber - Bacon', 6046148572, 'mHbOT | 60 min | 3 Pack', 3],
 ['Maria - Fernandez', 7862852022, 'mHbOT | 60 min | 3 Pack', 2],
 ['gina - fiallo', 3057903863, 'mHbOT | 60 min | 3 Pack', 3],
 ['Roberto - del Rosal', 3052972611, 'mHbOT | 60 min | 5 Pack', 2],
 ['Joe - Michalczyk', 6104200855, 'mHbOT | 60 min | 5 Pack', 3],
 ['Morris - Gad', 5165677292, 'mHbOT | 60 min | 5 Pack', 4],
 ['Katrina - Kazakos', 7868126609, 'mHbOT | 60 min | 5 Pack', 3],
 ['Karen - Kranenburg', 7866147348, 'mHbOT | 60 min | 5 Pack', 2],
 ['Claudia - Fernandez', 3057331769, 'mHbOT | 60 min | 5 Pack', 3],
 ['Terry - Marks', 3219488400, 'mHbOT | 60 min | 5 Pack', 4],
 ['Barbara - Corton', 7738058590, 'mHbOT | 60 min | 5 Pack', 1],
 ['Beth - Erickson', 3152866384, 'mHbOT | 60 min | 5 Pack', 4],
 ['katherine - Hazard', 4087170757, 'mHbOT | 60 min | 5 Pack', 3],
 ['Beth - Erickson', 3152866384, 'NAD+ 125mg IM Shot | 4 Pack', 3],
 ['Janet - Onate', 9172911469, 'NAD+ 125mg IM Shot | 4 Pack', 2],
 ['Nicole - Klobedanz', 8609973571, 'NAD+ IV Drip Therapy 750mg | 4 Pack', 1],
 ['Angel - - Bates', 4153697702, 'NAD+ IV Drip Therapy 750mg | 4 Pack', 4],
 ['Jose - Zeron', 7862514419, 'NAD+ IV Drip Therapy 750mg | 4 Pack', 3],
 ['David - Pouliot', 3057977133, 'NAD+ IV Drip Therapy 750mg | 4 Pack', 3],
 ['Kristina - Cabrera', 7868592273, 'NAD+ IV Drip Therapy 750mg | 4 Pack', 4],
 ['Susana - Lay', 7863658685, 'NAD+ IV Drip Therapy 750mg | 4 Pack', 4],
 ['Brendon - Brewster', 2157407883, 'NAD+ IV Drip Therapy 750mg Credit', 1],
 ['Neli - Lessee', 3054500725, 'NAD+ IV Drip Therapy 750mg Credit', 1],
 ['Wanda - Alvarez', 3052195380, 'Premium IM Shot | 5 Pack', 2],
 ['Jose - Alvarez', 3052195379, 'Premium IM Shot | 5 Pack', 2],
 ['Sandra - Alonso', 3056133376, 'Premium IM Shot | 5 Pack', 1],
 ['Lucas - Diaz', 7863388505, 'Signature IM Shot | 3 Pack', 1],
 ['Wanda - Alvarez', 3052195380, 'Signature IM Shot | 5 Pack', 1],
 ['Jose - Alvarez', 3052195379, 'Signature IM Shot | 5 Pack', 2],
 ['Ethel Rodas - Rodas', 3053026227, 'Signature IM Shot | 5 Pack', 1],
 ['Christina - Xiques', 3052990750, 'Signature IM Shot | 5 Pack', 1],
 ['Ingrid - Jimenez', 7863696463, 'Signature IM Shot | 5 Pack', 1],
 ['Janet - Onate', 9172911469, 'Signature IM Shot | 5 Pack', 1]]

In [127]:
## Lets check how many names are on this list
len(medical_pack_list)

58

In [101]:
## Now let's put this into a dataframe so we can turn it into a excel sheet when needed
final_medical_text_list = pd.DataFrame(medical_pack_list, columns=['full_name', 'phone', 'credit_description', 'remaining_credits'])

## Printing
final_medical_text_list

,full_name,phone,credit_description,remaining_credits
0,Greg - Solano,3054317251,10 Ingredient Bundle,6
1,Donny - Tse,9173740964,100 Ingredient Bundle,41
2,Lissette - Aguila,7862952181,30 Ingredient Bundle,10
3,David - Pouliot,3057977133,50 Ingredient Bundle,27
4,David - Walsh,8476443433,50 Ingredient Bundle,27
...,...,...,...,...
59,Maria - Barrios-Mendez,7868973729,Signature IM Shot | 5 Pack,3
60,Iris - Quintero,3058791990,Signature IM Shot | 5 Pack,3
61,Ingrid - Jimenez,7863696463,Signature IM Shot | 5 Pack,1
62,Beth - Erickson,3152866384,Signature IM Shot | 5 Pack,3
63,Janet - Onate,9172911469,Signature IM Shot | 5 Pack,1

In [104]:
final_medical_text_list.to_excel('final_medical_text_list.xlsx')

<class 'ModuleNotFoundError'>: No module named 'openpyxl'